# Making a List of all the paratransit Agencies in the state 

per bill requirements, we need to make a list of all paratransit agencies in the state and include everyone who gets mills-alquish-deddeh act funding. 

## Sources
* Trillium / Cal ITP List of Transit Agencies 
* Blackcat Dump 
* [State Controller Website](https://www.sco.ca.gov/ard_payments_transit.html)

In [9]:
import pandas as pd 
import json
import sqlalchemy

## Parsing Blackcat

In [10]:
with open('./data/blackcat_dump_may_1.json','r') as d:
    data = json.load(d)

the data structure is a list of tables, each with a JSON object w/ tbl name and rows as a key

Let's parse this into a series of pandas dataframes in a diction w/ the table name as keys

In [11]:
dfs_dict = {}
for table in data['Tables']:
    tbl_name = table['Name']
    try:
        col_list = [k['Column'] for k in table['Rows'][0]['Columns']]
    except IndexError:
        print(f"There are no columns in {tbl_name}")
    rows = []
    for row in table['Rows']:
        values = [d['Value'] for d in row['Columns']]
        rows.append(values)
    dfs_dict[tbl_name] = pd.DataFrame(rows, columns=col_list)

There are no columns in BudgetExpense
There are no columns in BudgetExpenseComments
There are no columns in BudgetExpenseReports
There are no columns in data_Admendment_View
There are no columns in data_BudgetItemsTotals
There are no columns in data_BudgetItemsTotals_Report
There are no columns in data_BudgetItems_Report
There are no columns in data_Budget_Reporting_ServiceData
There are no columns in data_Certification
There are no columns in data_Comment
There are no columns in data_ContractPaymentRequest
There are no columns in data_ContractPaymentRequest_Allocation
There are no columns in data_ContractPaymentRequest_AllocationDistrobution
There are no columns in data_ContractPaymentRequest_CodeStrip
There are no columns in data_ContractPaymentRequest_CodeStripInvoice
There are no columns in data_ContractPaymentRequest_Documents
There are no columns in data_ContractReport5307
There are no columns in data_ContractReports
There are no columns in data_ContractReportsOTPPP
There are no columns in data_Contracts_Amendment
There are no columns in data_Contracts_Award
There are no columns in data_Contracts_Documents
There are no columns in data_Contracts_Extension
There are no columns in data_Contracts_Info
There are no columns in data_Contract_Amendments
There are no columns in data_CountyDistrict
There are no columns in data_Disposition_Facilities
There are no columns in data_DynamicFields
There are no columns in data_Entity_Groups
There are no columns in data_Entity_Property_Groups
There are no columns in data_ExpenseCategories
There are no columns in data_ExpenseSections
There are no columns in data_Finding
There are no columns in data_FindingHistory
There are no columns in data_FindingHistoryDueDate
There are no columns in data_GrantApplicationConfigs
There are no columns in data_InventoryRemovalQueue
There are no columns in data_Invoices
There are no columns in data_OrganizationProjectPlans
There are no columns in data_PaymentRequest_SubmssionHistory
There are no columns in data_ReportExpenseLineItems
There are no columns in data_ReportExpenseProjectSummaries
There are no columns in data_RequestLog
There are no columns in data_Scorecard_5307
There are no columns in data_Scorecard_5311
There are no columns in data_Scorecard_5311v2
There are no columns in data_Scorecard_A
There are no columns in data_Scorecard_OTPPP
There are no columns in data_VehicleDespositionActivity
There are no columns in data_VehicleDispositions
There are no columns in data_vehicles
There are no columns in data_Veh_Maintenance
There are no columns in data_Veh_Maintenance_LineItem
There are no columns in extension_AgencyBudgets
There are no columns in extension_data_Grants_Distribution_AgencyAmounts
There are no columns in extension_data_JPATrackings
There are no columns in extension_data_JPATrackings_Extension
There are no columns in extension_data_PopRequests
There are no columns in extension_data_ReviewSetup
There are no columns in extension_data_TIP
There are no columns in extension_data_TIP_Projects
There are no columns in extension_data_TIP_Review
There are no columns in extension_data_UserScoreCard
There are no columns in extension_data_Wpo_JPA_Checklist
There are no columns in extension_data_Wpo_JPA_Checklist_Review
There are no columns in extension_link_CIP_Project
There are no columns in extension_NTDAnnualReports_BasicContacts
There are no columns in InventoryEquipment_Import
There are no columns in InventoryFacility
There are no columns in InventoryPNR
There are no columns in InventoryRail
There are no columns in InventoryVehicles_Import_2
There are no columns in LINE_ITEMS
There are no columns in LINE_ITEM_TYPES
There are no columns in link_Contract_Amendments
There are no columns in link_Contract_ProjectRequest
There are no columns in Link_DistrictReps
There are no columns in link_DynamicField_Options
There are no columns in link_EntityDescendents
There are no columns in link_Finding_Comment
There are no columns in link_OrganizationContactType
There are no columns in link_OrganizationPlannedProjects
There are no columns in link_Program_Application
There are no columns in link_ProjectVehicleMaintenance
There are no columns in link_Review_User_Opportunity
There are no columns in link_User_DashboardControl
There are no columns in MPOs
There are no columns in OrganizationAdditionalContacts
There are no columns in OrganizationConversion
There are no columns in OrganizationCTD
There are no columns in OrganizationFundingSources
There are no columns in Organization_Info_Import
There are no columns in pl_ActivityLogType
There are no columns in pl_AmendmentStatus
There are no columns in pl_ContractType
There are no columns in pl_ContractTypes
There are no columns in pl_DistrictCounties
There are no columns in pl_InventoryVehicle_LiftType
There are no columns in pl_InventoryVehicle_RampType
There are no columns in pl_LiftType
There are no columns in pl_PerformanceMeasuresPeriods
There are no columns in pl_PerformanceMeasuresPeriodTypes
There are no columns in pl_PicklistTypes
There are no columns in pl_RampType
There are no columns in Process_Workflow
There are no columns in Reporting_5310Ridership_DataElements
There are no columns in Reporting_5310Ridership_DataValues
There are no columns in Reporting_Budgets
There are no columns in Reporting_Budget_TaskLines
There are no columns in Reporting_DBE_FuelVendors
There are no columns in Reporting_DBE_InsuranceVendors
There are no columns in Reporting_DBE_MaintenanceVendors
There are no columns in Reporting_DBE_StorageVendors
There are no columns in VehicleOrgLink

In [12]:
print(f"The total number of parsed tables is {len(dfs_dict)}")

The total number of parsed tables is 375

In [13]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///./data/blackcat.sqlite')

In [15]:
{v.to_sql(k, con=engine) for k,v in dfs_dict.items()}

{None}

## Determining what Agencies are paratransit from blackcat

In [22]:
for k,v in dfs_dict.items():
    df = v
    if len(df) == 0:
        display(f"no data in {k}")
    else: 
        display(k)
        display(df.columns)
        display(df.head())

'ALI'

Index(['ALI', 'Code', 'Description', 'id'], dtype='object')

   ALI    Code                   Description id
0  ALI  111102    ENG & DESIGN STD 35-FT BUS  1
1  ALI  111103    ENG & DESIGN STD 30-FT BUS  2
2  ALI  111104       ENG & DESIGN <30-FT BUS  3
3  ALI  111105       ENG & DESIGN SCHOOL BUS  4
4  ALI  111106  ENG & DESIGN ARTICULATED BUS  5

'ALIGroup'

Index(['ALI Group', 'Code', 'Description'], dtype='object')

   ALI Group    Code                         Description
0  ALI Group  100000                             CAPITAL
1  ALI Group  110000                       CAPITAL - BUS
2  ALI Group  111100  ENGINEERING & DESIGN - CAPITOL BUS
3  ALI Group  111200      BUY REPLACEMENTS - CAPITOL BUS
4  ALI Group  111300         BUY EXPANSION - CAPITOL BUS

'BudgetCategories'

Index(['CategoryId', 'ProfileId', 'CategoryType', 'Name', 'Sequence',
       'Description', 'HelpText', 'Sys_ModifiedUserID'],
      dtype='object')

,CategoryId,ProfileId,CategoryType,Name,Sequence,Description,HelpText,Sys_ModifiedUserID
0,1,1,Expense,Total DIRECT Operating Expenses,1,,,0
1,2,3,Expense,Default (locked),1,,,0
2,3,2,Expense,Default (locked),1,,,0
3,5,1,Revenue,Less Fare box and Other Revenue,2,,,0
4,6,1,Revenue,Less Ineligible Expenses,3,,,0

'BudgetCategoryLines'

Index(['LineId', 'CategoryId', 'Name', 'Sequence', 'Description', 'HelpText',
       'Sys_ModifiedUserID'],
      dtype='object')

,LineId,CategoryId,Name,Sequence,Description,HelpText,Sys_ModifiedUserID
0,1,1,Total Direct Labor/Contracted Service(s),1,,,0
1,2,1,Total Equipment and Supplies,2,,,0
2,3,1,Total Other Direct Costs,3,,,0
3,4,1,Total Travel Costs,4,,,0
4,5,5,Fare box,5,,,0

'no data in BudgetExpense'

'no data in BudgetExpenseComments'

'no data in BudgetExpenseReports'

'BudgetProfiles'

Index(['ProfileId', 'Name', 'Description', 'Sys_ModifiedUserID'], dtype='object')

  ProfileId            Name         Description Sys_ModifiedUserID
0         1       Operating    operating budget                  0
1         2  Administration        admin budget                  0
2         3         Capital      capital budget                  0
3         4     Maintenance  maintenance budget                  0
4         5        Planning     planning budget                  0

'CostCategories'

Index(['CostCategoryID', 'Code', 'Description', 'Capital', 'Operating',
       'GroupId'],
      dtype='object')

,CostCategoryID,Code,Description,Capital,Operating,GroupId
0,1,411.01,STATE GRF OPERATING ASSISTANCE,True,True,1
1,2,411.07,STATE CAPITALIZED MAINTENANCE,True,True,1
2,3,411.08,STATE CAPITAL COST OF CONTRACTING,True,True,1
3,4,412.99,STATE E&D GRANT FUNDS,True,True,1
4,5,413.01,5311 OPERATING ASSISTANCE,True,True,2

'CostCategoryGroups'

Index(['CostCategoryGroupId', 'Name', 'Sequence', 'Type'], dtype='object')

  CostCategoryGroupId                             Name Sequence Type
0                   1    A. STATE GRANT FUNDS RECEIVED        1   OR
1                   2  B. FEDERAL GRANT FUNDS RECEIVED        2   OR
2                   3       C. TRANSPORTATION REVENUES        3   OR
3                   4   D. NON-TRANSPORTATION REVENUES        4   OR
4                   5      E. TAXES LEVIED & DEDICATED        5   OR

'data_5310AnnualReporting_ServiceTypes'

Index(['Id', 'ServiceType', 'Open_Close', 'ClientsElgible', 'ClientsServed',
       'ReportId', 'OrganizationId'],
      dtype='object')

,Id,ServiceType,Open_Close,ClientsElgible,ClientsServed,ReportId,OrganizationId
0,1,Fixed Route,1,2322,770,356,4132
1,2,Demand Response,2,0,0,356,4132
2,3,Intercity Service,2,0,0,356,4132

'data_5310_AnnualReporting'

Index(['Id', 'TitleVIComplaints', 'TitleVIComplaints_Text', 'DBEComplaints',
       'DBEComplaints_Text', 'EEOComplaints', 'EEOComplaints_Text',
       'Lawsuits_Text', 'ReportId', 'OrganizationId', 'ServiceTypeId',
       'AgencyContact_LastUpdated', 'AgencyProfile_LastUpdated',
       'AgnecyImpDoc_LastUpdated', 'LawSuits', 'Events_Text'],
      dtype='object')

,Id,TitleVIComplaints,TitleVIComplaints_Text,DBEComplaints,DBEComplaints_Text,EEOComplaints,EEOComplaints_Text,Lawsuits_Text,ReportId,OrganizationId,ServiceTypeId,AgencyContact_LastUpdated,AgencyProfile_LastUpdated,AgnecyImpDoc_LastUpdated,LawSuits,Events_Text
0,1,2,,2,,2,,,356,4132,,4/20/2020 12:00:00 AM,4/20/2020 12:00:00 AM,4/20/2020 12:00:00 AM,2,None

'no data in data_Admendment_View'

'data_Allocations'

Index(['Id', 'DistributionId', 'RequestId', 'FundingProgramId', 'Amount',
       'Type', 'FiscalYear', 'UnPlanned', 'IsEncumbered', 'AllocationId',
       'Comments', 'Sys_ModifiedUserId', 'FAN', 'JobNumber'],
      dtype='object')

,Id,DistributionId,RequestId,FundingProgramId,Amount,Type,FiscalYear,UnPlanned,IsEncumbered,AllocationId,Comments,Sys_ModifiedUserId,FAN,JobNumber
0,468,47,1046,,300000.00,,,False,True,,,1160,-4259-XXX-17,160171
1,469,0,1046,,273520.00,,,False,False,,,1160,,
2,470,47,1147,,283301.00,,,False,True,,,1160,-4148-XXX-17,160171
3,471,0,1147,,228719.00,,,False,False,,,1160,,
4,472,47,1154,,213660.00,,,False,True,,,1160,-4148-XXX-17,160171

'data_Amendment_Contact_View'

Index(['AmendmentViewId', 'AmendmentId', 'ContractId', 'ContractNumber',
       'FederalTotal', 'FederalTotalText', 'StateTotal', 'StateTotalText',
       'MaxAllowed'],
      dtype='object')

,AmendmentViewId,AmendmentId,ContractId,ContractNumber,FederalTotal,FederalTotalText,StateTotal,StateTotalText,MaxAllowed
0,1,567,566,,$0.00,Zero,$0.00,Zero,80%
1,2,569,568,,$0.00,Zero,$0.00,Zero,80%
2,3,571,371,,$0.00,Zero,$0.00,Zero,80%
3,4,572,371,,$0.00,Zero,$0.00,Zero,80%
4,5,574,573,,$0.00,Zero,$0.00,Zero,80%

'data_Announcements'

Index(['Id', 'Announcement', 'sys_ModifiedUserId'], dtype='object')

   Id                                       Announcement sys_ModifiedUserId
0   1  <p class="MsoNormal" style="margin-bottom: .00...                481
1  10  <p class="MsoNormal" style="mso-margin-top-alt...                481

'data_AssetDisposalVehicle'

Index(['DisposalId', 'AssetId', 'Discriminator', 'RequestDate', 'DisposedDate',
       'Status', 'Mileage', 'MileageAsOfDate', 'JustificationId',
       'FairMarketValue', 'MaintenanceCost', 'MethodId',
       'MethodOtherDescription', 'TransferToOrgId', 'TransferFromOrgId',
       'Comment', 'Sys_ModifiedUserId'],
      dtype='object')

,DisposalId,AssetId,Discriminator,RequestDate,DisposedDate,Status,Mileage,MileageAsOfDate,JustificationId,FairMarketValue,MaintenanceCost,MethodId,MethodOtherDescription,TransferToOrgId,TransferFromOrgId,Comment,Sys_ModifiedUserId
0,1,12718,Disposition,10/28/2016 12:43:00 PM,11/17/2016 1:46:29 PM,Approved,210760,10/3/2016 12:00:00 AM,12,2500.0000,,1,,,,,2136
1,2,12442,Disposition,,,Not Submitted,236620,9/30/2016 12:00:00 AM,12,13000.0000,,3,Keep as backup,,,,2089
2,3,12694,Disposition,10/27/2016 11:22:15 AM,,HQ Rejected,149770,10/20/2012 12:00:00 AM,12,1047.0000,,1,,,,,2049
3,4,12795,Disposition,12/2/2016 4:49:38 PM,12/6/2016 4:50:06 PM,Approved,364881,10/26/2016 12:00:00 AM,12,500.0000,,1,,,,Plan is to dispose of through competitive bid ...,2136
4,5,12796,Disposition,12/2/2016 4:49:52 PM,12/6/2016 4:51:01 PM,Approved,325132,10/26/2016 12:00:00 AM,12,600.0000,,1,,,,"AVTA sent letter dated October 26, 2016, to Ja...",2136

'no data in data_BudgetItemsTotals'

'no data in data_BudgetItemsTotals_Report'

'no data in data_BudgetItems_Report'

'no data in data_Budget_Reporting_ServiceData'

'data_CalendarEvents'

Index(['Id', 'EventStartDate', 'EventEndDate', 'Title', 'Description',
       'OwnerId', 'OwnerTypeId', 'AllDay', 'IsPublic', 'Sys_ModifiedId'],
      dtype='object')

,Id,EventStartDate,EventEndDate,Title,Description,OwnerId,OwnerTypeId,AllDay,IsPublic,Sys_ModifiedId
0,55,9/30/2015 12:00:00 AM,9/30/2015 12:00:00 AM,Mtg w DOT,,3748,48,True,False,
1,56,2/12/2016 3:00:00 PM,2/12/2016 5:00:00 PM,Caltrans BlackCat Grants Training Webinar,"Please join my meeting from your computer, tab...",1,47,False,True,
2,57,4/16/2016 12:00:00 AM,,Application Deadline,"FTA 5311, 5311(f), 5311(f) Continued Funding &...",1,47,True,True,
3,59,8/10/2016 1:30:00 PM,8/10/2016 2:30:00 PM,Bus Inspection,3 trolleys bought with FTA 5311 ARRA funds,3733,48,False,False,
4,60,3/1/2017 5:00:00 PM,,5310 app due,,3750,48,False,False,

'no data in data_Certification'

'data_CodeBlocks'

Index(['Id', 'InvoiceId', 'ReceivingCodeNumber', 'PaymentRequestCode',
       'AuthorizedDisbursementNumber', 'ClaimScheduleNumber', 'RCDate',
       'PRCDate', 'ADDate', 'ApprovedForDraw', 'ApprovedForDrawDate',
       'Sys_UserModifiedDate', 'Sys_UserCreatedDate'],
      dtype='object')

,Id,InvoiceId,ReceivingCodeNumber,PaymentRequestCode,AuthorizedDisbursementNumber,ClaimScheduleNumber,RCDate,PRCDate,ADDate,ApprovedForDraw,ApprovedForDrawDate,Sys_UserModifiedDate,Sys_UserCreatedDate
0,1,1090,,,,,,,,False,,2/24/2020 12:05:44 PM,2/24/2020 12:05:44 PM
1,2,1570,200000021498,,,,2/26/2020 12:00:00 AM,,,False,,2/26/2020 12:47:35 PM,2/26/2020 12:47:35 PM
2,3,1581,200000021537,,,,2/26/2020 12:00:00 AM,,,False,,2/26/2020 3:05:15 PM,2/26/2020 3:05:15 PM
3,4,1582,200000021553,,,,2/26/2020 12:00:00 AM,,,False,,2/26/2020 4:11:10 PM,2/26/2020 4:11:10 PM
4,5,1583,200000021560,,,,2/26/2020 12:00:00 AM,,,False,,2/26/2020 4:25:09 PM,2/26/2020 4:24:46 PM

'no data in data_Comment'

'no data in data_ContractPaymentRequest'

'no data in data_ContractPaymentRequest_Allocation'

'no data in data_ContractPaymentRequest_AllocationDistrobution'

'no data in data_ContractPaymentRequest_CodeStrip'

'no data in data_ContractPaymentRequest_CodeStripInvoice'

'no data in data_ContractPaymentRequest_Documents'

'no data in data_ContractReport5307'

'no data in data_ContractReports'

'no data in data_ContractReportsOTPPP'

'data_Contracts'

Index(['Id', 'GrantId', 'ProgramId', 'ContractYear', 'OrganizationId',
       'RequestTypeID', 'ProductionDate', 'ExpirationDate', 'ContractId',
       'PlanToAgency', 'PlanFromAgency', 'PlanToAuthorizedSignatory',
       'PlanToFiscal', 'PlanNTP', 'PlanMMARS', 'ActToAgency', 'ActFromAgency',
       'ActToAuthorizedSignatory', 'ActToFiscal', 'ActNTP', 'ActMMARS',
       'MaximumObligation', 'Sys_ModifiedUserID', 'EncumbranceDate',
       'BeginDate', 'InvoiceEndDate', 'ContractExecDate', 'ApprovedEncDate',
       'AmendmentText', 'AmendmentNumber', 'ParentId', 'ContractStatus',
       'ProjectNumber', 'Status', 'ContractType', 'PreviousEncumberedAmount'],
      dtype='object')

,Id,GrantId,ProgramId,ContractYear,OrganizationId,RequestTypeID,ProductionDate,ExpirationDate,ContractId,PlanToAgency,...,ContractExecDate,ApprovedEncDate,AmendmentText,AmendmentNumber,ParentId,ContractStatus,ProjectNumber,Status,ContractType,PreviousEncumberedAmount
0,90,,28,2017,3673,97,,12/31/2017 12:00:00 AM,64CO17-00443,,...,,3/27/2017 12:00:00 AM,,,,1,,,,114411.00
1,91,,28,2017,3747,97,,12/31/2017 12:00:00 AM,64CO17-00445,,...,4/3/2017 12:00:00 AM,3/27/2017 12:00:00 AM,,,,1,,,,61285.00
2,92,,24,2016,3690,97,,12/31/2017 12:00:00 AM,64BO17-00371,,...,4/3/2017 12:00:00 AM,3/20/2017 12:00:00 AM,,,,1,,,,183266.00
3,93,,24,2016,3661,97,,12/31/2017 12:00:00 AM,64BO17-00364,,...,11/1/2017 12:00:00 AM,3/20/2017 12:00:00 AM,,,,1,,,,140000.00
4,94,,24,2016,3663,97,,6/30/2019 12:00:00 AM,64BC17-00401,,...,4/17/2017 12:00:00 AM,3/20/2017 12:00:00 AM,,,,1,,,,478761.00

'no data in data_Contracts_Amendment'

'no data in data_Contracts_Award'

'no data in data_Contracts_Documents'

'no data in data_Contracts_Extension'

'no data in data_Contracts_Info'

'no data in data_Contract_Amendments'

'data_Counties'

Index(['Id', 'County', 'County_Code'], dtype='object')

   Id     County County_Code
0  55    Alameda         ALA
1  56     Alpine         ALP
2  57     Amador         AMA
3  58      Butte         BUT
4  59  Calaveras         CAL

'no data in data_CountyDistrict'

'data_Disposition_Equipment'

Index(['DispositionId', 'OrganizationId', 'EquipmentId', 'EquipmentStatusId',
       'RequestDate', 'JustificationId', 'DisposalMethodId',
       'OtherDisposalMethod', 'FairMarketValue', 'FairMarketValueSource',
       'sys_CreatedUserId', 'sys_ModifiedUserId'],
      dtype='object')

,DispositionId,OrganizationId,EquipmentId,EquipmentStatusId,RequestDate,JustificationId,DisposalMethodId,OtherDisposalMethod,FairMarketValue,FairMarketValueSource,sys_CreatedUserId,sys_ModifiedUserId
0,1,3713,13,5,4/4/2019 11:18:00 AM,,,,,,2951,2951
1,2,3713,15,5,4/4/2019 11:18:24 AM,,,,,,2951,2951
2,3,3713,16,5,4/4/2019 11:18:42 AM,,,,,,2951,2951
3,4,3713,17,5,4/4/2019 11:19:04 AM,,,,,,2951,2951

'no data in data_Disposition_Facilities'

'data_Disposition_Vehicles'

Index(['DispositionId', 'OrganizationId', 'VehicleId', 'RequestDate',
       'JustificationId', 'DisposalMethodId', 'OtherDisposalMethod',
       'FairMarketValue', 'VehicleStatusId', 'sys_CreatedUserId',
       'sys_ModifiedUserId', 'FairMarketValueSource'],
      dtype='object')

,DispositionId,OrganizationId,VehicleId,RequestDate,JustificationId,DisposalMethodId,OtherDisposalMethod,FairMarketValue,VehicleStatusId,sys_CreatedUserId,sys_ModifiedUserId,FairMarketValueSource
0,1,3739,12718,10/28/2016 12:43:00 PM,12,1,,2500.0000,11,,2136,
1,2,3664,12442,,12,3,Keep as backup,13000.0000,3,,2089,
2,3,3738,12694,10/27/2016 11:22:16 AM,12,1,,1047.0000,3,,2049,
3,4,3837,12795,12/2/2016 4:49:38 PM,12,1,,500.0000,11,,2136,
4,5,3837,12796,12/2/2016 4:49:52 PM,12,1,,600.0000,11,,2136,

'data_Districts'

Index(['Id', 'District'], dtype='object')

  Id District
0  1        1
1  2        2
2  3        3
3  4        4
4  5        5

'data_Documents'

Index(['ID', 'Typeid', 'Ownerid', 'DocumentName', 'DocumentSize', 'Deleted',
       'Archived', 'CreatedDate', 'Source', 'DocumentFriendlyName'],
      dtype='object')

,ID,Typeid,Ownerid,DocumentName,DocumentSize,Deleted,Archived,CreatedDate,Source,DocumentFriendlyName
0,1350,4,222,1022201523739PM_Test_Document.docx,12648,False,False,10/22/2015 2:37:41 PM,1161,Marketing Brochure
1,1351,4,222,1022201540613PM_Test_Document.docx,12648,False,False,10/22/2015 4:06:15 PM,1161,New Facility Designs
2,1352,4,225,1292015122858PM_2015_Phone_Bridge_Conference_C...,41412,True,False,12/9/2015 12:28:55 PM,1160,Management Structure
3,1353,4,225,1292015122906PM_Brett_Bilinski.docx,13204,True,False,12/9/2015 12:29:03 PM,1160,Marketing Brochure
4,1354,1,1028,33201665136PM_635905263464526233_o_DRMT_DBE_Fo...,26849,False,False,3/3/2016 6:51:49 PM,1845,DRMT DBE Form

'no data in data_DynamicFields'

'data_DynamicFields_Template'

Index(['Id', 'FieldName', 'FieldValue', 'FieldValueType',
       'FieldManualEntryRequired', 'FieldOptionsId', 'OwnerId',
       'OwnerSourceType', 'Sys_ModiifiedDate', 'Sequence', 'ReadOnly'],
      dtype='object')

,Id,FieldName,FieldValue,FieldValueType,FieldManualEntryRequired,FieldOptionsId,OwnerId,OwnerSourceType,Sys_ModiifiedDate,Sequence,ReadOnly
0,2941,Contract Number,64BO17-00382,0,False,0,105,1,3/20/2017 4:27:29 PM,,
1,2942,Amendment #,,0,False,0,105,1,3/20/2017 4:27:29 PM,,
2,2943,Organization Legal Name,City of Rio Vista,0,False,0,105,1,3/20/2017 4:27:29 PM,,
3,2944,Contract Start Date,"Jul 01, 2015",3,False,0,105,1,3/20/2017 4:27:29 PM,,
4,2945,Contract End Date,"Dec 31, 2017",0,False,0,105,1,3/20/2017 4:27:29 PM,,

'data_Entity'

Index(['Id', 'EntityTypeId', 'Title', 'DeveloperViewSQL', 'FriendlyViewSQL',
       'PageScript', 'Sys_ModifiedUserId'],
      dtype='object')

,Id,EntityTypeId,Title,DeveloperViewSQL,FriendlyViewSQL,PageScript,Sys_ModifiedUserId
0,47,1,State,"\r\nSELECT E.Id as EntityId, E.Title, data_Ent...","\r\nSELECT E.Id as EntityId, E.Title, data_Ent...",,0
1,48,1,Transit Agency,"\r\nSELECT E.Id as EntityId, E.Title, data_Ent...","\r\nSELECT E.Id as EntityId, E.Title, data_Ent...",,0
2,322,4,Program,"\r\nSELECT E.Id as EntityId, E.Title, data_Ent...","\r\nSELECT E.Id as EntityId, E.Title, data_Ent...",,
3,323,3,Standard Transit Fund Request,"\r\nSELECT E.Id as EntityId, E.Title, data_Ent...","\r\nSELECT E.Id as EntityId, E.Title, data_Ent...","//$(""#$frt_Grant"").change(function() {\r\n// ...",0
4,324,7,Transit Funding,"\r\nSELECT E.Id as EntityId, E.Title, data_Ent...","\r\nSELECT E.Id as EntityId, E.Title, data_Ent...","$(""#$fnd_Type"").change(function() {\r\n updat...",

'data_EntityRecords'

Index(['Id', 'EntityId', 'ParentId', 'Sys_ModifiedUserId'], dtype='object')

    Id EntityId ParentId Sys_ModifiedUserId
0    1       47        0               1159
1  499      322                         483
2  500      322                         394
3  501      322                         483
4  502      322                         483

'no data in data_Entity_Groups'

'data_Entity_Properties'

Index(['Id', 'WidgetTypeId', 'DataTypeId', 'FieldKey', 'Label', 'DisplayOrder',
       'DisplayByDefault', 'CanBeAdded', 'Required', 'Sys_ModifiedUserId'],
      dtype='object')

,Id,WidgetTypeId,DataTypeId,FieldKey,Label,DisplayOrder,DisplayByDefault,CanBeAdded,Required,Sys_ModifiedUserId
0,53,5,14,sys_org_Name,Name,1,True,True,False,0
1,54,5,14,org_Address1,Address 1,2,True,True,False,0
2,55,5,14,org_Address2,Address 2,3,True,True,False,0
3,56,5,14,org_City,City,4,True,True,False,0
4,57,48,14,org_State,State,5,True,True,False,0

'data_Entity_PropertiesRecords'

Index(['Id', 'EntityRecordId', 'EntityPropertyId', 'FieldKey', 'Value'], dtype='object')

,Id,EntityRecordId,EntityPropertyId,FieldKey,Value
0,179250,1,53,sys_org_Name,California Department of Transportation
1,179251,1,54,org_Address1,1120 N Street
2,179252,1,55,org_Address2,
3,179253,1,56,org_City,Sacramento
4,179254,1,57,org_State,California

'data_Entity_PropertyValues'

Index(['id', 'EntityId', 'EntityPropertyId', 'Value', 'Sys_ModifiedUserId'], dtype='object')

    id    EntityId EntityPropertyId Value Sys_ModifiedUserId
0  979  324                     461                        0
1  981  324                     686                        0
2  982  324                     687                        0
3  983  324                     688                        0
4  984  324                     689                        0

'no data in data_Entity_Property_Groups'

'data_Entity_Related_Profiles'

Index(['RelatedProfileId', 'EntityRecordId', 'ProfileEntityId',
       'ProfileRelationTypeId', 'Required'],
      dtype='object')

,RelatedProfileId,EntityRecordId,ProfileEntityId,ProfileRelationTypeId,Required
0,1,11,193,83,
1,2,11,194,83,
2,3,11,197,83,
3,4,11,198,83,
4,5,11,199,83,

'data_events'

Index(['id', 'eventdate', 'endeventdate', 'publicEvent', 'title', 'notes',
       'eventtype', 'displayInBold', 'displayInRed', 'allday', 'endallday',
       'syssource', 'sysstatus', 'sysdate'],
      dtype='object')

,id,eventdate,endeventdate,publicEvent,title,notes,eventtype,displayInBold,displayInRed,allday,endallday,syssource,sysstatus,sysdate
0,1,3/2/2012 12:00:00 AM,,,New Event,,,False,False,True,False,1,0,3/21/2012 7:35:58 PM
1,2,3/19/2012 8:00:00 AM,3/23/2012 5:00:00 PM,,New Employee Training,All new employees must attend!!,,False,False,False,False,100,ACTIVE,3/22/2012 4:10:51 PM
2,3,3/14/2012 2:00:00 PM,3/14/2012 4:00:00 PM,,Grant Managers Meeting,,,False,False,False,False,1,ACTIVE,3/22/2012 9:45:46 AM
3,4,3/2/2012 5:00:00 PM,,,5311 Grant Application Submission Deadline,,,True,False,False,False,1,ACTIVE,3/22/2012 9:49:12 AM
4,5,3/30/2012 3:00:00 PM,,,Review Groups Formed,,,False,False,False,False,1,ACTIVE,3/22/2012 9:48:09 AM

'no data in data_ExpenseCategories'

'no data in data_ExpenseSections'

'no data in data_Finding'

'no data in data_FindingHistory'

'no data in data_FindingHistoryDueDate'

'data_Folder'

Index(['Id', 'FolderName', 'Sys_ModifiedUserId'], dtype='object')

  Id        FolderName Sys_ModifiedUserId
0  1       Procurement               2307
1  2  Asset Management               2307
2  3        School Bus               2307
3  4               ADA               2307
4  5          Title VI               2307

'data_FTA_LineItem_Codes'

Index(['CodeID', 'Code', 'Description', 'Category', 'Sys_ModifiedUserId',
       'MOUCategory', 'BudgetProfileId', 'Sequence', 'FederalSharePercent',
       'StateSharePercent', 'LocalSharePercent'],
      dtype='object')

,CodeID,Code,Description,Category,Sys_ModifiedUserId,MOUCategory,BudgetProfileId,Sequence,FederalSharePercent,StateSharePercent,LocalSharePercent
0,1,111201,Purchase Replacement Std 40 Ft Bus,CA,481,VH,3,,0.8853,0.0000,0.1147
1,2,111202,Purchase Replacement Std 35 Ft Bus,CA,389,VH,3,,0.8853,0.0000,0.1147
2,4,111204,Purchase Replacement < 30 Ft Bus,CA,389,VH,3,,0.8853,0.0000,0.1147
3,10,111215,Purchase Replacement Van,CA,389,VH,3,,0.8853,0.0000,0.1147
4,43,114206,Purchase Shop Equipment,CA,389,NV,3,,0.8853,0.0000,0.1147

'data_FundSources'

Index(['FundSourceId', 'Name', 'CommonName', 'HasMatch', 'Match1', 'Match2',
       'MatchRequirements', 'SourceAgency', 'AllocatingAgency', 'CFDA',
       'Description', 'Requirement', 'Comments', 'RequiresApplication',
       'Application', 'EntityRecordId', 'sys_ModifiedUserId',
       'RequiresGroupReview', 'ProgramCoordinator',
       'EligibleVehicleDisposition', 'ContractCode', 'RepRequired',
       'GrantCoordinator', 'PTManager', 'HardDeadLine', 'SoftDeadline'],
      dtype='object')

,FundSourceId,Name,CommonName,HasMatch,Match1,Match2,MatchRequirements,SourceAgency,AllocatingAgency,CFDA,...,sys_ModifiedUserId,RequiresGroupReview,ProgramCoordinator,EligibleVehicleDisposition,ContractCode,RepRequired,GrantCoordinator,PTManager,HardDeadLine,SoftDeadline
0,23,Section 5310 Enhanced Mobility of Seniors & ...,5310 Trad,True,80 / 20,,80% Federal share for Capital projects.,FTA,State,20.513,...,2836,True,1160,True,,False,1157,2836,False,
1,24,Section 5311 Statewide Rural Public Transit,Section 5311,True,88.53 / 11.47,55.33 / 44.67,88.53% Federal share for Capital can be less i...,FTA,State,20.509,...,2696,False,1160,True,,False,1157,1981,False,
2,26,Section 5339 - Bus and Bus Facilities Program,5339 (State),True,85/15,,85% Federal share can be less if State or loca...,FTA,FTA,20.526,...,1157,True,1160,True,,False,1157,2214,False,
3,27,State Aid,State Aid,False,,,,State,State,,...,481,False,1160,True,,False,,,False,
4,28,Section 5311(f) - Intercity Bus,Section 5311(f),True,55.33 / 44.67,,Operating requires a 55.33/44.67 match.,FTA,State,20.509,...,2696,True,1160,True,,False,1157,1981,False,

'data_FundSourcesPM'

Index(['Id', 'FundSourceId', 'PmId', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7',
       'D8', 'D9', 'D10', 'D11', 'D12', 'sys_ModifiedUserId'],
      dtype='object')

,Id,FundSourceId,PmId,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,D12,sys_ModifiedUserId
0,3,24,2141,False,False,True,True,False,False,False,False,False,False,True,False,481
1,12,29,2696,True,True,True,True,True,True,True,True,True,True,True,True,1159
2,15,32,2290,False,False,False,False,False,False,False,False,False,False,False,False,1159
3,18,33,2696,False,False,False,False,False,False,True,False,False,True,False,False,1159
4,19,33,2141,False,False,True,True,False,False,False,False,False,False,True,False,1159

'no data in data_GrantApplicationConfigs'

'data_GrantForms'

Index(['GrantFormID', 'GrantID', 'Sequence', 'FormTitle', 'Url',
       'AllowedUpload', 'Required', 'sys_ModifiedUserId'],
      dtype='object')

,GrantFormID,GrantID,Sequence,FormTitle,Url,AllowedUpload,Required,sys_ModifiedUserId
0,101,29,2,Certifications and Assurances of the RTPA/MPO,635997793793187346_o_Certifications and Assura...,True,True,1160
1,103,29,4,Project Description,636276177817073951_o_5311 Project Description ...,True,True,1160
2,104,29,5,Detailed Project Expense Worksheet,636276183973365286_o_Combined Detailed Expense...,True,True,1160
3,111,30,3,Applicant Eligibility-Nonprofit Corporation St...,636191356777403041_o_Expanded_Eligibility_Nonp...,True,False,2314
4,112,30,11,Applicant Eligibility-General Certs and Assura...,636191355688870931_o_Expanded_Eligibility_C&A-...,True,True,2314

'data_GrantOpportunities'

Index(['OpportunityID', 'OrganizationID', 'GrantID', 'Status',
       'sys_ModifiedUserId'],
      dtype='object')

  OpportunityID OrganizationID GrantID           Status sys_ModifiedUserId
0           234           3734      29  Review Complete               1159
1           235           3717      29  Review Complete               1159
2           236           3743      29  Review Complete               1159
3           237           3663      33  Review Complete               1160
4           238           3671      29  Review Complete               1159

'data_GrantOpportunitiesActivity'

Index(['CommentId', 'OpportunityId', 'Status', 'Comment',
       'sys_ModifiedUserId'],
      dtype='object')

  CommentId OpportunityId     Status Comment sys_ModifiedUserId
0       658           222  Submitted                       1159
1       659           224  Submitted                       1970
2       660           271  Submitted                       2004
3       661           246  Submitted                       2013
4       662           255  Submitted                       2006

'data_GrantOpportunityForms'

Index(['OpportunityFormID', 'OpportunityID', 'GrantFormID', 'UploadedDocument',
       'sys_ModifiedUserId'],
      dtype='object')

,OpportunityFormID,OpportunityID,GrantFormID,UploadedDocument,sys_ModifiedUserId
0,1783,213,98,,1150
1,1784,213,101,,1150
2,1785,213,103,,1150
3,1786,213,104,,1150
4,1787,213,105,,1150

'data_GrantOpportunityProjects'

Index(['OpportunityProjectID', 'OpportunityID', 'ProjectID', 'ProjectScore',
       'ProjectAdjustedScore', 'sys_ModifiedUserId',
       'nonApplicationOrganizationId', 'nonApplicationYear'],
      dtype='object')

,OpportunityProjectID,OpportunityID,ProjectID,ProjectScore,ProjectAdjustedScore,sys_ModifiedUserId,nonApplicationOrganizationId,nonApplicationYear
0,441,214,944,,,1156,,
1,442,214,945,,,1156,,
2,443,214,946,,,1156,,
3,444,216,955,,,481,,
4,445,217,956,,,481,,

'data_GrantOpportunityRevenue'

Index(['OpportunityRevID', 'OpportunityID', 'LNTM_NUMBER', 'LNTM_DESCRIPTION',
       'Value', 'Sys_ModifiedBy'],
      dtype='object')

,OpportunityRevID,OpportunityID,LNTM_NUMBER,LNTM_DESCRIPTION,Value,Sys_ModifiedBy
0,143,213,2010,Farebox Revenues,0.0000,1150
1,144,213,2020,System Revenues,0.0000,1150
2,145,214,2010,Farebox Revenues,0.0000,1156
3,146,214,2020,System Revenues,0.0000,1156
4,147,215,2010,Farebox Revenues,0.0000,481

'data_Groups'

Index(['Id', 'Title', 'OrganizationId', 'EntityId', 'SystemGroup',
       'Sys_ModifiedUserId'],
      dtype='object')

,Id,Title,OrganizationId,EntityId,SystemGroup,Sys_ModifiedUserId
0,2,State User,,47,True,1
1,4,Transit Agency,,48,True,1
2,6,State Auditor,1,,False,1
3,16,Application Reviewer,,,False,481
4,18,MPO/RPTA,,326,True,481

'data_GroupSystemModule'

Index(['Id', 'GroupId', 'SystemModuleId', 'Sys_ModifiedUserId'], dtype='object')

  Id GroupId SystemModuleId Sys_ModifiedUserId
0  1       2              1                483
1  2       2              2                483
2  3       2              3                483
3  6       2              9                483
4  7       2             13                483

'data_GroupSystemModulePermissionValues'

Index(['Id', 'GroupSystemModuleId', 'SystemModulePermissionId', 'IsChecked',
       'Sys_ModifiedUserId'],
      dtype='object')

,Id,GroupSystemModuleId,SystemModulePermissionId,IsChecked,Sys_ModifiedUserId
0,5,8,41,True,483
1,6,8,42,True,483
2,7,8,43,True,483
3,8,8,44,True,483
4,11,1,1,False,483

'data_HistoryLog'

Index(['Id', 'HistoryLogType', 'Comment', 'HistoryProcessStatus', 'OwnerId'], dtype='object')

,Id,HistoryLogType,Comment,HistoryProcessStatus,OwnerId
0,1,4,,Contract Created,87
1,2,5,FTA : 2017 : 2016 FTA 5311(f) (Grant # TBD) : ...,Encumbrance Added,87
2,3,5,FTA : 2017 : 2016 FTA 5311(f) (Grant # TBD) : ...,Encumbrance Added,87
3,4,5,FTA : 2017 : 2016 FTA 5311(f) (Grant # TBD) : ...,Encumbrance Added,87
4,5,5,FTA : 2017 : 2016 FTA 5311(f) (Grant # TBD) : ...,Encumbrance Removed,87

'data_ImportantDocuments'

Index(['Id', 'OrganizationId', 'DocumentCategoryId', 'DocumentTypeId',
       'FriendlyName', 'FileName', 'FileYear', 'Expires', 'UploadedByUser',
       'UploadedDate', 'Archived'],
      dtype='object')

,Id,OrganizationId,DocumentCategoryId,DocumentTypeId,FriendlyName,FileName,FileYear,Expires,UploadedByUser,UploadedDate,Archived
0,1,3719,3,5,,ADA Complementary Paratransit Plan.pdf,2019,,2913,2/14/2019 6:55:10 PM,False
1,2,3748,2,1,Federal Transit Administration (FTA) Certifica...,128201652248PM_167_Res.pdf,2016,,481,1/28/2016 5:24:31 PM,True
2,3,3699,2,1,Federal Transit Administration (FTA) Certifica...,128201653217PM_Test_word_document.pdf,2016,,1970,1/28/2016 5:32:29 PM,True
3,4,3699,2,1,Federal Transit Administration (FTA) Certifica...,128201653243PM_Test_word_document.pdf,2016,,1794,4/7/2016 6:29:25 PM,True
4,5,3738,2,1,Federal Transit Administration (FTA) Certifica...,216201612009PM_FY15_Certs_Assurances.pdf,2016,,2049,5/20/2016 1:22:56 PM,True

'data_Imported_Dispositions'

Index(['DisposalId', 'Discriminator', 'OrganizationId', 'VehicleId',
       'RequestDate', 'JustificationId', 'DisposalMethodId',
       'OtherDisposalMethod', 'Mileage', 'MileageAsOfDate', 'FairMarketValue',
       'VehicleStatusId', 'sys_CreatedUserId', 'Sys_ModifiedUserId',
       'FairMarketValueSource', 'Comment'],
      dtype='object')

,DisposalId,Discriminator,OrganizationId,VehicleId,RequestDate,JustificationId,DisposalMethodId,OtherDisposalMethod,Mileage,MileageAsOfDate,FairMarketValue,VehicleStatusId,sys_CreatedUserId,Sys_ModifiedUserId,FairMarketValueSource,Comment
0,1,Disposition,3739,12718,10/28/2016 12:43:00 PM,12,1,,210760,10/3/2016 12:00:00 AM,2500,11,,2136,,
1,2,Disposition,3664,12442,,12,3,Keep as backup,236620,9/30/2016 12:00:00 AM,13000,3,,2089,,
2,3,Disposition,3738,12694,10/27/2016 11:22:16 AM,12,1,,149770,10/20/2012 12:00:00 AM,1047,3,,2049,,
3,4,Disposition,3837,12795,12/2/2016 4:49:38 PM,12,1,,364881,10/26/2016 12:00:00 AM,500,11,,2136,,Plan is to dispose of through competitive bid ...
4,5,Disposition,3837,12796,12/2/2016 4:49:52 PM,12,1,,325132,10/26/2016 12:00:00 AM,600,11,,2136,,"AVTA sent letter dated October 26, 2016, to Ja..."

'data_Inspection'

Index(['Id', 'EntityRecordId', 'FiscalYear', 'ReviewTypeId', 'Purpose',
       'Comments', 'StartDate', 'EndDate', 'ReviewerName',
       'ReviewerOrganization', 'QuestionnaireDocumentId',
       'PostQuestionnaireDocumentId', 'StatusId', 'Sys_ModifiedUserId',
       'QuestionnaireStatusId', 'PostQuestionnaireStatusId',
       'AgencyQuestionnaireUploaded', 'QuestionnaireSubmittedToAgency'],
      dtype='object')

,Id,EntityRecordId,FiscalYear,ReviewTypeId,Purpose,Comments,StartDate,EndDate,ReviewerName,ReviewerOrganization,QuestionnaireDocumentId,PostQuestionnaireDocumentId,StatusId,Sys_ModifiedUserId,QuestionnaireStatusId,PostQuestionnaireStatusId,AgencyQuestionnaireUploaded,QuestionnaireSubmittedToAgency
0,3,4153,2017,1,Agency Review,,8/2/2017 12:00:00 AM,8/4/2017 12:00:00 AM,Lauren Scott,Caltrans,,,2,2307,,,False,
1,4,4153,2017,1,hadgiyaLs,,7/12/2017 12:00:00 AM,7/14/2017 12:00:00 AM,Lauren,Caltrans,,,2,2307,,,False,
2,5,3699,2017,1,Vehicle Monitoring Inspection,,8/8/2017 12:00:00 AM,8/8/2017 12:00:00 AM,Michelle Ruan,Caltrans,,,2,2059,,,False,
3,6,3738,2017,1,,,6/19/2017 12:00:00 AM,6/19/2017 12:00:00 AM,Talvin Dennis,Department of Transportation,,,2,2312,,,False,
4,7,3738,2017,1,,Contract #640204; Vin 4240; Year 2011 Chevy Bu...,6/19/2017 12:00:00 AM,6/19/2017 12:00:00 AM,Talvin Dennis,Department of Transportation,,,2,2312,,,False,

'no data in data_InventoryRemovalQueue'

'data_Inventory_Comment'

Index(['CommentId', 'SourceType', 'SourceId', 'Comment', 'sys_CreatedUserId',
       'sys_ModifiedUserId'],
      dtype='object')

,CommentId,SourceType,SourceId,Comment,sys_CreatedUserId,sys_ModifiedUserId
0,1,VehicleDisposition,2,CNG tanks expired,2664,2664
1,2,VehicleDisposition,3,CNG tanks expired,2664,2664
2,3,VehicleDisposition,4,CNG tanks expired,2664,2664
3,4,VehicleDisposition,5,CNG tanks expired,2664,2664
4,5,VehicleDisposition,6,last year of useful life,2664,2664

'data_Inventory_Equipment'

Index(['EquipmentId', 'OrganizationId', 'ClassificationID', 'EquipmentName',
       'VIN', 'LicensePlate', 'AgencyId', 'DOTId', 'FundedByDOT',
       'FundingProgramId', 'GrantIdPrimary', 'OtherGrantPrimary',
       'GrantIdSecondary', 'OtherGrantSecondary', 'DOTContractId',
       'OtherDOTContract', 'UPIN', 'Quantity', 'AverageCostPerUnit',
       'TotalCost', 'FederalShare', 'FederalSharePercent', 'StateShare',
       'StateSharePercent', 'LocalShare', 'LocalSharePercent', 'TDCShare',
       'TDCSharePercent', 'DOTCapitalResponsibility',
       'OrganizationCapitalResponsibility', 'OtherCapitalResponsibility',
       'OtherCapitalResponsibilityOrg', 'EquipmentClassID', 'EquipmentTypeID',
       'EquipmentTypeOther', 'Manufacturer', 'Model', 'EquipmentYear',
       'SerialNumber', 'EquipmentStatusId', 'ImprovementTypeId',
       'CurrentCondition', 'CurrentConditionDate', 'ConditionRatingId',
       'CurrentMileage', 'CurrentMileageDate', 'YearOfRenewal',
       'RenewalTypeId', 'PurchaseOrderNumber', 'PurchaseOrderDate', 'Vendor',
       'ReceivedDate', 'LastInspectionDate', 'NextInspectionDate',
       'VehicleLocationStreet', 'VehicleLocationCity', 'VehicleLocationState',
       'InServiceDate', 'AverageEstimatedServiceYearsWhenNew',
       'UsefulLifeYearsRemaining', 'OutOfServiceDate', 'IsDOTLienHolder',
       'IsTitleOnFileWithDOT', 'TitleNumber', 'RegistrationNumber', 'Comments',
       'DispositionDate', 'sys_ModifiedUserId'],
      dtype='object')

,EquipmentId,OrganizationId,ClassificationID,EquipmentName,VIN,LicensePlate,AgencyId,DOTId,FundedByDOT,FundingProgramId,...,AverageEstimatedServiceYearsWhenNew,UsefulLifeYearsRemaining,OutOfServiceDate,IsDOTLienHolder,IsTitleOnFileWithDOT,TitleNumber,RegistrationNumber,Comments,DispositionDate,sys_ModifiedUserId
0,5,3670,1,Service Vehilce,1GKDT13Z4N2518038,E372017,7,,False,,...,8,28,,False,,,,,,2630
1,6,3670,2,Back up power generator,,,,,False,,...,,,,False,,,,,,2630
2,7,3682,2,Fixed Route Fare Boxes,,,,,False,,...,,,,False,,,,,,2030
3,9,3682,2,Fare Box Computer System,,,,,False,,...,,,,False,,,,,,2030
4,10,3713,1,Safari Van,1GKDM19WXYB545419,E-1087779,003,1675,True,27,...,14,,,False,False,,,,,1944

'data_Inventory_Facilities'

Index(['FacilityId', 'OrganizationId', 'FacilityName', 'Address1', 'Address2',
       'City', 'State', 'ZipCode', 'County', 'Latitude', 'Longitude',
       'FundedByDOT', 'FundSourceId', 'GrantIdPrimary', 'OtherGrantPrimary',
       'GrantSharePrimary', 'GrantIdSecondary', 'OtherGrantSecondary',
       'GrantShareSecondary', 'DOTContractId', 'OtherDOTContract',
       'PurchaseOrderNumber', 'PurchaseOrderDate', 'InvoiceNumber',
       'PaymentVoucherNumber', 'PaymentVoucherDate', 'UPIN', 'TotalCost',
       'FederalShare', 'FederalSharePercent', 'StateShare',
       'StateSharePercent', 'LocalShare', 'LocalSharePercent',
       'DOTCapitalResponsibility', 'OrganizationCapitalResponsibility',
       'OtherCapitalResponsibility', 'OtherCapitalResponsibilityOrg',
       'OwnershipTypeId', 'FacilityTypeCategoryId', 'OtherFacilityCategory',
       'PrimaryModeServedId', 'UnitSpaceSize', 'UnitSpaceType', 'YearBuilt',
       'YearReconstructed', 'ADAAccessible', 'SectionOfLargerFacility',
       'FacilityStatusId', 'EstimatedConditionAssessment', 'CurrentCondition',
       'DateOfAssessment', 'ConditionRatingId', 'LastInspectionDate',
       'NextInspectionDate', 'sys_CreatedUserId', 'sys_ModifiedUserId',
       'UsefulLifeYearsRemaining'],
      dtype='object')

,FacilityId,OrganizationId,FacilityName,Address1,Address2,City,State,ZipCode,County,Latitude,...,FacilityStatusId,EstimatedConditionAssessment,CurrentCondition,DateOfAssessment,ConditionRatingId,LastInspectionDate,NextInspectionDate,sys_CreatedUserId,sys_ModifiedUserId,UsefulLifeYearsRemaining
0,1,3670,Lassen Rural Bus Office and Maintenance Bay,701980 Johnstonville Road,,Susanville,CA,96130,Lassen,,...,1,,4.2,8/31/2018 12:00:00 AM,2,,,2630,2630,22
1,2,3670,Bus Wash Facility,701980 Johnstonville Road,,Susanville,CA,96130,Lassen,,...,1,,4.2,8/31/2018 12:00:00 AM,2,,,2630,2630,22
2,3,3723,Transit Shelter,336 Pacific Ave.,,Shafter,CA,93263,Kern,,...,1,,5.0,11/7/2017 12:00:00 AM,2,11/7/2017 12:00:00 AM,6/30/2018 12:00:00 AM,1715,1715,0
3,4,3723,Shafter Electric Charging Facility,550 Shafter Ave.,,Shafter,CA,93263,Kern,,...,1,,5.0,11/7/2017 12:00:00 AM,1,11/7/2017 12:00:00 AM,6/30/2018 12:00:00 AM,1715,1715,0
4,5,3786,Siskiyou County Transit Center,190 Greenhorn Road,,Yreka,CA,96097,Siskiyou,,...,1,,5.0,9/9/2019 12:00:00 AM,1,9/9/2019 12:00:00 AM,9/9/2020 12:00:00 AM,2146,2935,36

'data_Inventory_Vehicles'

Index(['VehicleId', 'OrganizationId', 'VIN', 'LicensePlate', 'AgencyId',
       'DOTId', 'FundedByDOT', 'FundingProgramId', 'GrantIdPrimary',
       'OtherGrantPrimary', 'GrantSharePrimary', 'GrantIdSecondary',
       'OtherGrantSecondary', 'GrantShareSecondary', 'DOTContractId',
       'OtherDOTContract', 'PurchaseOrderNumber', 'PurchaseOrderDate',
       'InvoiceNumber', 'PaymentVoucherNumber', 'PaymentVoucherDate',
       'AwardYear', 'UPIN', 'TotalCost', 'FederalShare', 'FederalSharePercent',
       'StateShare', 'StateSharePercent', 'LocalShare', 'LocalSharePercent',
       'DOTCapitalResponsibility', 'OrganizationCapitalResponsibility',
       'OtherCapitalResponsibility', 'OtherCapitalResponsibilityOrg',
       'CategoryId', 'VehicleYear', 'ManufacturerId', 'ModelId', 'OtherModel',
       'ChassisId', 'OtherChassis', 'FuelTypeId', 'VehicleHeightFeet',
       'VehicleHeightInches', 'VehicleLengthFeet', 'GVWR', 'SeatingCapacity',
       'StandingCapacity', 'WheelchairPositions', 'WheelchairRampOrLift',
       'RampOrLiftManufacturerId', 'OtherRampOrLiftManufacturer',
       'EmergencyContingencyVehicle', 'VehicleStatusId', 'ImprovementTypeId',
       'CurrentCondition', 'CurrentConditionDate', 'ConditionRatingId',
       'CurrentMileage', 'CurrentMileageDate', 'YearOfRenewal',
       'RenewalTypeId', 'PriceAgreementNumber', 'PriceAgreementDate',
       'PurchaseDate', 'Vendor', 'ReceivedDate', 'LastInspectionDate',
       'NextInspectionDate', 'VehicleLocationStreet', 'VehicleLocationCity',
       'VehicleLocationState', 'InServiceDate', 'UsefulLifeYearsRemaining',
       'UsefulLifeMilesRemaining', 'OutOfServiceDate', 'IsDOTLienHolder',
       'IsTitleOnFileWithDOT', 'TitleNumber', 'RegistrationNumber', 'NTDID',
       'VehicleTypeId', 'AverageEstimatedServiceYearsWhenNew',
       'DedicatedFleet', 'OwnershipTypeId', 'FundingSourceId',
       'NTDOtherModeId', 'NTDTypeOfServiceId', 'Comments', 'DispositionDate',
       'Sys_CreatedUserId', 'Sys_ModifiedUserID', 'VehicleIDNumber',
       'TDCShare', 'TDCSharePercent'],
      dtype='object')

,VehicleId,OrganizationId,VIN,LicensePlate,AgencyId,DOTId,FundedByDOT,FundingProgramId,GrantIdPrimary,OtherGrantPrimary,...,FundingSourceId,NTDOtherModeId,NTDTypeOfServiceId,Comments,DispositionDate,Sys_CreatedUserId,Sys_ModifiedUserID,VehicleIDNumber,TDCShare,TDCSharePercent
0,12425,3661,15GGB271X91177352,1234782,922,,True,24,,,...,,,,,,0,2859,,0,0
1,12426,3661,15GGB271191177353,1234783,923,,True,24,,,...,,,,,,0,2859,,0,0
2,12427,3662,15GGB2710E1183297,1352672,68,,True,24,,,...,,,,,,0,1700,,0,0
3,12428,3662,15GGB271691176019,1234786,65,,True,24,,,...,,,,,,0,1700,,0,0
4,12429,3662,15GGB191171077693,1181999,64,,True,24,,,...,,,,,,0,1700,,0,0

'no data in data_Invoices'

'data_LaborUnions'

Index(['Id', 'OrgId', 'UnionName', 'LocalName', 'Address', 'Address2', 'City',
       'State', 'Zip', 'Phone', 'Contact', 'Email', 'Sys_ModifiedUserId'],
      dtype='object')

,Id,OrgId,UnionName,LocalName,Address,Address2,City,State,Zip,Phone,Contact,Email,Sys_ModifiedUserId
0,3,3699,ATU,Local 265,1590 La Pradera Drive,,Campbell,CA,95008-1533,408-874-0900 x214,John Curtney,jcourtney@atulocal265.org,1794
1,4,3699,SEIU,Local 521,2302 Zanker Rd.,,San Jose,CA,95131-4923,408-678-3300,Riko Mendez,SEIU521communication@seiu521.org,1794
2,6,3699,AFS,"District council 57, Local 101","1150 North 1st Street, #101",,San Jose,,95112-4923,408-321-5972,Steve Jovel,Steve.Jovel@vta.org,1794
3,7,3699,,Transportation AuthorityEnginers & Architects ...,4 North Second St. #430,,San Jose,,95113,408-291-2200,Rajwinder Sehdev,Rajwinder.Sehdev@vta.org,1794
4,8,3787,TEAM,Laborer's International Union of North America,1800 Park Marina Drive,,Redding,CA,96001,(530) 604-4874,Steve Allen,sallen@upec792.com,2148

'data_Library'

Index(['Id', 'GUID', 'FolderId', 'OwnerTypeId', 'OwnerId', 'Title', 'FileName',
       'FileSize', 'FileTypeId', 'LibraryTypeId'],
      dtype='object')

,Id,GUID,FolderId,OwnerTypeId,OwnerId,Title,FileName,FileSize,FileTypeId,LibraryTypeId
0,31,1FFAB6A9-F803-4012-A026-355555894754,30,1,1,Piggybacking Procedures,http://www.dot.ca.gov/hq/MassTrans/Docs-Pdfs/P...,,23,33
1,32,1F2177B3-C7E0-4058-B721-E8B3DED3C7D8,30,1,1,Procurement Document Review Procedures,http://www.dot.ca.gov/hq/MassTrans/Docs-Pdfs/P...,,23,33
2,33,088E8FD7-C251-4035-BBCD-8119B666FAE6,30,1,1,Bid Selection/Award of Contract Documentation,http://www.dot.ca.gov/hq/MassTrans/Docs-Pdfs/P...,,23,33
3,34,B074E8BB-99B4-4B43-BFA3-6033CAEF5B0D,30,1,1,Small Purchase Procedures,http://www.dot.ca.gov/hq/MassTrans/Docs-Pdfs/P...,,23,33
4,38,559AF2A6-E7E1-4D72-9386-AEECADE32497,709,1,1,"Panther International, LLC",http://www.pantherinternational.com,,23,33

'data_Notification_QueuedMessages'

Index(['QueuedMessageID', 'QueueGroupID', 'ToAddress', 'ToBcc', 'ToCc',
       'Subject', 'Message', 'MessageStatusID', 'MessageSentDate', 'Notes',
       'Sys_ModifiedUserID', 'Attempts', 'ReplyTo'],
      dtype='object')

,QueuedMessageID,QueueGroupID,ToAddress,ToBcc,ToCc,Subject,Message,MessageStatusID,MessageSentDate,Notes,Sys_ModifiedUserID,Attempts,ReplyTo
0,4559,2698,tabrahamson@nd.gov,,,BlackCat Grants (Ohio): Access Information,<style type='text/css'>\r\n .emailB...,41,1/28/2015 10:25:55 AM,,481,0,
1,4560,2699,bhanson@nd.gov,,,BlackCat Grants (Ohio): Access Information,<style type='text/css'>\r\n .emailB...,40,1/30/2015 11:10:07 AM,,1151,0,
2,4561,2700,scott@pantherinternational.com,,,BlackCat Grants (Ohio): Access Information,<style type='text/css'>\r\n .emailB...,40,1/30/2015 11:12:13 AM,,481,0,
3,4562,2701,jsmall@nd.gov,,,BlackCat Grants (Ohio): Access Information,<style type='text/css'>\r\n .emailB...,41,2/11/2015 8:41:30 AM,,481,0,
4,4563,2702,tabrahamson@nd.gov,,,BlackCat Grants (Ohio): Access Information,<style type='text/css'>\r\n .emailB...,40,2/11/2015 8:44:52 AM,,481,0,

'data_Notification_QueueGroups'

Index(['QueueGroupID', 'NotificationTemplateID', 'GroupTypeID',
       'InitiatedUserID', 'CreatedDate', 'Sys_ModifiedUserID'],
      dtype='object')

,QueueGroupID,NotificationTemplateID,GroupTypeID,InitiatedUserID,CreatedDate,Sys_ModifiedUserID
0,2698,0,,481,1/28/2015 10:25:55 AM,481
1,2699,0,,1151,1/30/2015 11:10:07 AM,1151
2,2700,0,,481,1/30/2015 11:12:13 AM,481
3,2701,0,,481,2/11/2015 8:41:30 AM,481
4,2702,0,,481,2/11/2015 8:44:52 AM,481

'data_Notification_Templates'

Index(['NotificationTemplateID', 'Subject', 'Description', 'Template',
       'TriggerDescription', 'TemplateTypeID', 'Sys_ModifiedUserID',
       'IsComplete', 'ReplyTo', 'ReplyToType'],
      dtype='object')

,NotificationTemplateID,Subject,Description,Template,TriggerDescription,TemplateTypeID,Sys_ModifiedUserID,IsComplete,ReplyTo,ReplyToType
0,4,BlackCat Transit CA: Access Information,Notification sent by an administrator to a use...,"<p style=""margin: 0in; margin-bottom: .0001pt;...",Admin triggers by selecting a link within the ...,,0,True,,1
1,49,BlackCat Transit CA: Error Feedback,Error Message. Provides a screen for users to ...,<p>&nbsp;</p>\r\n<p>System: $system</p>\r\n<p>...,A system error message,,0,True,,1
2,50,BlackCat Transit CA: Application: Submitted,A notification is sent to the HQ Liaison for t...,"<p style=""font-size: 12px; line-height: 18px;""...",The submit button is selected on a completed a...,,0,True,,1
3,51,BlackCat Transit CA: Application: Incomplete,A notification is sent when an application is ...,"<p style=""font-size: 12px; line-height: 18px;""...",When the initial completeness review is marked...,,0,True,,1
4,52,BlackCat Transit CA: Application: Complete,A notification is sent when an application is ...,"<p style=""font-size: 12px; line-height: 18px;""...",The Complete button is selected on a submitted...,,0,True,,1

'data_OpportunityComments'

Index(['CommentId', 'ApplicationId', 'Comment', 'Sys_ModifiedUserId'], dtype='object')

,CommentId,ApplicationId,Comment,Sys_ModifiedUserId
0,1,271,The correct amounts for this application are n...,2004
1,2,294,This request is for Continued Funding of SA# 6...,1827
2,3,297,This request is for Continued Funding of SA# 6...,1827
3,4,298,This request is for Continued Funding of SA# 6...,1827
4,5,330,The current 3rd party contract with Transdev S...,2067

'no data in data_OrganizationProjectPlans'

'data_OrganizationRidership_Vehicle'

Index(['Id', 'ReportId', 'VehicleId', 'OrgId', 'AgencyId', 'Vin', 'Condition',
       'BeginingMileage', 'EndingMileage', 'DaysInService', 'HoursInService',
       'AvgHoursPerWeek', 'MaintenanceRepairCosts', 'IsVehInAccident',
       'OutOfServiceFor3Days', 'Sys_UserModifiedId', 'Sys_DateModified'],
      dtype='object')

,Id,ReportId,VehicleId,OrgId,AgencyId,Vin,Condition,BeginingMileage,EndingMileage,DaysInService,HoursInService,AvgHoursPerWeek,MaintenanceRepairCosts,IsVehInAccident,OutOfServiceFor3Days,Sys_UserModifiedId,Sys_DateModified
0,7,357,15646,4143,0,1FDFE4FS5JDC32563,1,31070,43861,117,981,37.73,1660.00,0,1,2536,4/23/2020 1:42:51 PM
1,8,357,15647,4143,0,1FDFE4FS8JDC30001,1,35499,50977,138,896,34.46,2899.00,0,1,2536,4/23/2020 1:42:51 PM

'data_OrganizationRidership_VehicleReport'

Index(['Id', 'ReportId', 'InsuranceCompany', 'PolicyNumber', 'PolicyExpDate',
       'DaysInReportingPeriod', 'CHPReportDate', 'Sys_UserModifiedId'],
      dtype='object')

,Id,ReportId,InsuranceCompany,PolicyNumber,PolicyExpDate,DaysInReportingPeriod,CHPReportDate,Sys_UserModifiedId
0,3,357,American Alternative Insurance Company,N1A2RL000001309,6/1/2020 12:00:00 AM,182,3/18/2019 12:00:00 AM,2536

'data_PaymentRequest'

Index(['PaymentRequestId', 'ContractId', 'RequestNumber', 'RequestType',
       'ExpenseReportId', 'PaymentRequestStatusId', 'Comments',
       'TransmittleDocument', 'Sys_ModifiedUserID', 'BillingSummaryDocument',
       'SubmittedDate', 'PaymentDate', 'ReturnedDate', 'AgencyInv'],
      dtype='object')

,PaymentRequestId,ContractId,RequestNumber,RequestType,ExpenseReportId,PaymentRequestStatusId,Comments,TransmittleDocument,Sys_ModifiedUserID,BillingSummaryDocument,SubmittedDate,PaymentDate,ReturnedDate,AgencyInv
0,2,200,FTA0000002,Capital / Other,,7,Need to enter past invoices.,,1160,,5/23/2017 12:12:42 PM,7/19/2017 5:15:45 PM,,
1,3,200,FTA0000003,Capital / Other,,7,Entering past invoices.,,1160,,5/23/2017 12:20:38 PM,7/19/2017 5:17:43 PM,,
2,4,200,FTA0000004,Capital / Other,,7,Entering past invoices.,,1160,,5/23/2017 12:22:16 PM,7/19/2017 5:18:55 PM,,
3,5,200,FTA0000005,Capital / Other,,7,Entering past invoices,,1160,,5/23/2017 12:30:13 PM,7/19/2017 5:20:49 PM,,
4,6,177,FTA0000006,Capital / Other,,7,To enter past invoice.,,2139,,5/24/2017 11:34:21 AM,7/19/2017 6:06:05 PM,,

'data_PaymentRequest_AllocationPayments'

Index(['PaymentRequestAllocationId', 'PaymentRequestProjectId', 'AllocationId',
       'AllocationTotal', 'AllocationAmountAvailable', 'ApprovedAmount',
       'PaymentAmount', 'PaymentDate', 'VoucherNumber', 'Sys_ModifiedUserID',
       'ApprovedLocalMatch', 'DistributionTitle', 'ProjectTitle', 'RCNumber',
       'RCDate'],
      dtype='object')

,PaymentRequestAllocationId,PaymentRequestProjectId,AllocationId,AllocationTotal,AllocationAmountAvailable,ApprovedAmount,PaymentAmount,PaymentDate,VoucherNumber,Sys_ModifiedUserID,ApprovedLocalMatch,DistributionTitle,ProjectTitle,RCNumber,RCDate
0,2,68,736,228000.0000,228000.0000,228000.0000,228000.0000,,,2237,0.0000,2016 : CA-2017-025 (0017000158) : SACOG,Operating Assistance,18000000456,7/10/2017 12:00:00 AM
1,3,67,770,87097.0000,87097.0000,87097.0000,87097.0000,7/12/2017 12:00:00 AM,180000002773,2233,0.0000,2016 : CA-2017-025 (0017000158) : Nevada,Operating Assistance,180000000455,7/10/2017 12:00:00 AM
2,4,62,754,183266.0000,183266.0000,183266.0000,183266.0000,7/18/2017 12:00:00 AM,180000004229,2233,0.0000,2016 : CA-2017-025 (0017000158) : MTC,Operating Assistance,180000000990,7/13/2017 12:00:00 AM
3,5,61,748,498211.0000,498211.0000,498211.0000,498211.0000,7/11/2017 12:00:00 AM,180000002103,2233,0.0000,2016 : CA-2017-025 (0017000158) : San Luis Obispo,Operating Assistance,180000000182,7/6/2017 12:00:00 AM
4,6,2,492,71510.0000,71510.0000,5509.0000,5509.0000,5/23/2017 12:00:00 AM,170000104015,2233,4447.0000,2017 : 2016 FTA 5311(f) Cont Fund. (Grant # TB...,Operating Assistance,170000026600,5/12/2017 12:00:00 AM

'data_PaymentRequest_Projects'

Index(['PaymentRequestProjectId', 'PaymentRequestId', 'ProjectId',
       'ProjectTitle', 'AmountRequested', 'LocalMatch', 'Sys_ModifiedUserID',
       'AvailableAmount', 'sequence'],
      dtype='object')

,PaymentRequestProjectId,PaymentRequestId,ProjectId,ProjectTitle,AmountRequested,LocalMatch,Sys_ModifiedUserID,AvailableAmount,sequence
0,2,2,1128,Operating Assistance,5509.0000,4447.6200,1160,71510.0000,
1,3,3,1128,Operating Assistance,4224.7400,3410.8000,1160,71510.0000,
2,4,4,1128,Operating Assistance,4165.8800,3363.2800,1160,71510.0000,
3,5,5,1128,Operating Assistance,23946.2200,19332.6800,1160,71510.0000,
4,6,6,1039,Operating Assistance for Tuolumne County Transit,295741.0000,1547390.0000,2139,295741.0000,

'no data in data_PaymentRequest_SubmssionHistory'

'data_PerformanceMeasures'

Index(['Id', 'PerformanceMeasureTypeId', 'Year', 'MeasurePeriodTypeId',
       'PeriodId', 'StatusID', 'Sys_CreatedUserId', 'Sys_ModifiedUserId'],
      dtype='object')

,Id,PerformanceMeasureTypeId,Year,MeasurePeriodTypeId,PeriodId,StatusID,Sys_CreatedUserId,Sys_ModifiedUserId
0,8,1,2017,0,0,2,2307,2307

'data_PerformanceMeasuresGroups'

Index(['Id', 'GroupName', 'PerformanceMeasuresID', 'Sys_CreatedUserId',
       'Sys_ModifiedUserID', 'StatusId'],
      dtype='object')

,Id,GroupName,PerformanceMeasuresID,Sys_CreatedUserId,Sys_ModifiedUserID,StatusId
0,8,Caltrans Group Plan,8,2307,2307,2

'data_PerformanceMeasuresOrg'

Index(['Id', 'GroupPlanId', 'OrganizationId', 'OrgStatusId',
       'OrganizationReportId', 'Sys_CreatedUserId', 'Sys_ModifiedUserId'],
      dtype='object')

,Id,GroupPlanId,OrganizationId,OrgStatusId,OrganizationReportId,Sys_CreatedUserId,Sys_ModifiedUserId
0,369,8,3749,1,156,2307,2307
1,370,8,3675,1,157,2307,2307
2,371,8,3750,1,158,2307,2307
3,372,8,3661,1,159,2307,2307
4,373,8,3715,1,160,2307,2307

'data_ProjectHistory'

Index(['Id', 'ProjectId', 'Description', 'Sys_ModifiedUserId'], dtype='object')

,Id,ProjectId,Description,Sys_ModifiedUserId
0,3390,1133,The status has changed to Incomplete<div>Addit...,1160
1,3391,1133,The status has changed to PT Manager Recommends,1160
2,3392,1140,The status has changed to Incomplete<div>Addit...,1160
3,3393,1140,The status has changed to PT Manager Recommends,1160
4,3394,1038,The status has changed to Incomplete<div>Addit...,1160

'data_ProjectReviewStep'

Index(['ID', 'Sequence', 'StepDescription', 'OnPassGoToID', 'OnFailGoToID'], dtype='object')

  ID Sequence StepDescription OnPassGoToID OnFailGoToID
0  1        1      HQ Liaison            2
1  2        2    Branch Chief                         1

'data_Projects'

Index(['Id', 'ParentId', 'UPIN', 'ProjectNumber', 'FTALineItem', 'Description',
       'EstimatedCost', 'Notes', 'Priority', 'ProjectStatusId',
       'CreatedByUserId', 'CreatedDate', 'Sys_ModifiedUserId', 'ProjectYear',
       'VehicleType', 'MilestoneDate', 'VehicleDosposition', 'Quantity',
       'VehicleId', 'Favorite', 'VIN', 'PercentageDesignation',
       'ProjectClosedDate', 'ProjectClosedUserId', 'BudgetProfileId',
       'BeginDate', 'EndDate', 'VehicleClass', 'VehicleContractType',
       'VehicleFuelType', 'ReplacingVehicle', 'MPOYesNo', 'FTIP',
       'FTIPApprovalDate', 'STIPRefNumber', 'IsStimulusMoney'],
      dtype='object')

,Id,ParentId,UPIN,ProjectNumber,FTALineItem,Description,EstimatedCost,Notes,Priority,ProjectStatusId,...,EndDate,VehicleClass,VehicleContractType,VehicleFuelType,ReplacingVehicle,MPOYesNo,FTIP,FTIPApprovalDate,STIPRefNumber,IsStimulusMoney
0,1011,3684,BCG0000069,,300902,Operating Assistance Sliding Scale,98000.0000,x,1,2,...,,,,,,False,,,,
1,1012,3734,BCG0000071,,300902,Operating Assistance,903000.0000,,,2,...,,,,,,False,,,,
2,1014,3671,BCG0000073,,300902,Operating Assistance - CDV/FB,24067.0000,CDV/FB,1,2,...,,,,,,False,,,,
3,1015,3671,BCG0000074,,300902,Operating Assistance - Reno,190020.0000,Reno Route,1,2,...,,,,,,False,,,,
4,1016,3671,BCG0000075,,300902,Operating Assistance - Redding,84011.0000,Redding Route,1,2,...,,,,,,False,,,,

'data_Project_Tasks'

Index(['Id', 'ParentId', 'FiscalYear', 'Title', 'TaskStatusId',
       'Sys_ModifiedUserId'],
      dtype='object')

    Id ParentId FiscalYear Title TaskStatusId Sys_ModifiedUserId
0  936      936       2015  2015            1                481
1  937      937       2015  2015            1                481
2  938      938       2015  2015            1               1156
3  939      939       2015  2015            1               1156
4  940      940       2014  2014            1                481

'data_Project_Task_Funding'

Index(['Id', 'ParentId', 'Federal', 'State', 'Local', 'TRC', 'InKind', 'Other',
       'Match', 'MatchFundSource', 'Sys_ModifiedUserId', 'OtherComment'],
      dtype='object')

,Id,ParentId,Federal,State,Local,TRC,InKind,Other,Match,MatchFundSource,Sys_ModifiedUserId,OtherComment
0,936,936,,,,,,,,,481,
1,937,937,,,,,,,,,481,
2,938,938,,,,,,,,,1156,
3,939,939,,,,,,,,,1156,
4,940,940,,,,,,,,,481,

'no data in data_ReportExpenseLineItems'

'no data in data_ReportExpenseProjectSummaries'

'data_Reports'

Index(['Id', 'ReportCategoryId', 'ReportFile', 'ReportTitle', 'Sort',
       'Sys_ModifiedUserId', 'PopupWindowSize'],
      dtype='object')

,Id,ReportCategoryId,ReportFile,ReportTitle,Sort,Sys_ModifiedUserId,PopupWindowSize
0,101,75,/Reports/ParamsPages/PopExport.aspx,Program of Projects (POP) Export,3,,
1,103,81,/Reports/ParamsPages/SC5310TraditionalExport.aspx,Application 5310 Traditional Scorecard Export,0,,
2,104,81,/Reports/ParamsPages/SC5310ExpandedExport.aspx,Application 5310 Expanded Scorecard Export,0,,
3,105,119,/Reports/ParamsPages/OversightFindingsReportTo...,Oversight Findings Report,0,,
4,106,119,/Reports/ParamsPages/OversightAgingReportToXLS...,Oversight Aging Report,0,,

'no data in data_RequestLog'

'data_ReviewTracking'

Index(['Id', 'PTManagerComments', 'AdministratorComments', 'DirectorComments',
       'PTManagerId', 'AdministratorId', 'DirectorId',
       'PTManagerIdModifiedDate', 'AdministratorIdModifiedDate',
       'DirectorIdModifiedDate', 'IsComplete'],
      dtype='object')

,Id,PTManagerComments,AdministratorComments,DirectorComments,PTManagerId,AdministratorId,DirectorId,PTManagerIdModifiedDate,AdministratorIdModifiedDate,DirectorIdModifiedDate,IsComplete
0,10,,,Need to change,,,2136,,,6/29/2016 6:21:51 PM,True
1,11,,,,,,2136,,,6/30/2016 5:29:50 PM,True
2,12,,,,,,2136,,,6/30/2016 5:30:13 PM,True
3,13,,,,,,2136,,,7/27/2016 6:54:27 PM,True
4,14,,,,,,2136,,,9/22/2016 1:05:13 PM,True

'data_ReviewType'

Index(['Id', 'ReviewType', 'Sys_ModifiedUserId'], dtype='object')

  Id              ReviewType Sys_ModifiedUserId
0  1  5311 Agency Monitoring               1157
1  3  5310 Agency Monitoring               1157

'no data in data_Scorecard_5307'

'data_Scorecard_5310_Expanded'

Index(['Id', 'UserId', 'OpportunityID', 'ProjectId', 'ProgGoalsObjectives',
       'ProjImplementPlan', 'ProgPerfIndicators', 'CommOutreach',
       'EmerPlanPrep', 'IsComplete', 'Sys_ModifiedUserId', 'NotRecommended',
       'Score', 'Comments'],
      dtype='object')

,Id,UserId,OpportunityID,ProjectId,ProgGoalsObjectives,ProjImplementPlan,ProgPerfIndicators,CommOutreach,EmerPlanPrep,IsComplete,Sys_ModifiedUserId,NotRecommended,Score,Comments
0,1,2290,766,0,29,20,18,15,10,True,2290,,92,
1,2,2318,597,0,21,20,15,15,10,True,2318,,82,
2,3,2290,500,0,25,20,18,20,3,True,2290,,87,81 Program Goals.Project Scope exceeds minimu...
3,4,2319,552,0,29,20,19,18,10,True,2319,,97,A. Volunteer driver program addresses underse...
4,5,2319,479,0,28,20,20,14,10,True,2319,,93,This project will be done inhouse. Continuati...

'data_Scorecard_5310_Traditional'

Index(['Id', 'UserId', 'OpportunityID', 'ProjectId', 'AoA_1a', 'AoA_1b',
       'AoA_2a', 'AoA_2b', 'AoA_3a', 'AoA_4a', 'AoA_4b', 'AoA_4c', 'AoA_5a',
       'AoA_6a', 'AoA_6b', 'AoA_7a', 'AoA_7b', 'AoA_8a', 'AoA_8b', 'AoA_8c',
       'Cord_1a', 'Cord_1b', 'Cord_1c', 'Cord_1d', 'Cord_2a', 'Cord_2b',
       'Cord_2c', 'SE_1a', 'SE_1b', 'SE_2a', 'SE_2b', 'SE_3a', 'SE_3b',
       'SE_4a', 'SE_4b', 'IsComplete', 'Sys_ModifiedUserId', 'NotRecommended',
       'Score', 'Comments'],
      dtype='object')

,Id,UserId,OpportunityID,ProjectId,AoA_1a,AoA_1b,AoA_2a,AoA_2b,AoA_3a,AoA_4a,...,SE_2b,SE_3a,SE_3b,SE_4a,SE_4b,IsComplete,Sys_ModifiedUserId,NotRecommended,Score,Comments
0,1,2243,561,0,4,0,2,2,2,2,...,0,10,0,4,0,True,2243,,,
1,2,2561,741,0,4,0,2,2,2,2,...,0,8,0,0,0,True,2561,,,
2,3,2561,649,0,4,0,2,2,2,2,...,0,10,0,0,0,True,2561,,,
3,4,2561,512,0,4,0,2,2,2,2,...,0,10,0,0,0,True,2561,,,
4,5,2198,726,0,4,0,0,1,1,2,...,0,10,0,0,0,True,2198,,,

'no data in data_Scorecard_5311'

'data_Scorecard_5311f'

Index(['Id', 'UserId', 'OpportunityID', 'ProjectId', 'PA_Sched', 'PA_GenPub',
       'PA_Fixed', 'PA_Urb', 'PA_Trans', 'PA_LayOver', 'PA_Stops', 'PP_NonUrb',
       'PP_Con', 'PP_Inter', 'PP_Trans', 'PP_Infra', 'PP_Out', 'QP_Def',
       'QP_NO', 'QP_SG', 'QP_CIB', 'QP_MS', 'QP_POA', 'QP_SD', 'QP_CR',
       'QP_IB', 'QP_GC', 'IsComplete', 'Sys_ModifiedUserId', 'NotRecommended',
       'PA_Comments', 'PP_Comments', 'QP_Comments', 'Score'],
      dtype='object')

,Id,UserId,OpportunityID,ProjectId,PA_Sched,PA_GenPub,PA_Fixed,PA_Urb,PA_Trans,PA_LayOver,...,QP_CR,QP_IB,QP_GC,IsComplete,Sys_ModifiedUserId,NotRecommended,PA_Comments,PP_Comments,QP_Comments,Score
0,1,1582,289,0,,,,,,,...,,,,False,,,,,,
1,2,2059,289,0,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Partially,Yes,True,2059,,,,"For the plan of action and milestones section,...",43
2,3,2237,277,0,Yes,Yes,No,Yes,Yes,Yes,...,Yes,Yes,Yes,True,2237,,,,,42
3,4,2059,334,0,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Partially,Yes,True,2059,,More than 4 stops on the route.,"Applicant marked ""Not Applicable"" in response ...","For the Capital request, agency requested $167...",42
4,5,2059,278,0,Yes,Yes,Yes,Yes,Yes,Yes,...,Yes,Partially,Yes,True,2059,,Service makes more than 4 stops.,"For the question ""Do the projects support the ...","On the DBE form, the applicant indicated that ...",42

'data_Scorecard_5311fv2'

Index(['Id', 'UserId', 'OpportunityID', 'ProjectId', 'PA_Evidence',
       'PA_Feasibility', 'PA_Transportation', 'PA_Fiscal', 'PA_Coorordination',
       'PA_Transit', 'PA_Comments', 'PA_Support', 'IsComplete',
       'Sys_ModifiedUserId', 'NotRecommended', 'Score', 'Comments'],
      dtype='object')

,Id,UserId,OpportunityID,ProjectId,PA_Evidence,PA_Feasibility,PA_Transportation,PA_Fiscal,PA_Coorordination,PA_Transit,PA_Comments,PA_Support,IsComplete,Sys_ModifiedUserId,NotRecommended,Score,Comments
0,1,2180,1295,0,5,17,17,18,14,8,,7,True,2180,,86,
1,2,2300,1295,0,5,12,20,20,14,10,,7,True,2300,,88,
2,3,2300,1292,0,5,18,20,20,14,9,,9,True,2300,,95,
3,4,2180,1284,0,5,19,19,19,14,9,Great job putting together this application.,9,True,2180,,94,
4,5,2180,1296,0,5,17,17,18,14,8,A support letter may help with C6.,8,True,2180,,87,

'no data in data_Scorecard_5311v2'

'no data in data_Scorecard_A'

'no data in data_Scorecard_OTPPP'

'data_ServerDefinedQueries'

Index(['Id', 'Title', 'SQL', 'Preview', 'Sys_ModifiedUserId'], dtype='object')

,Id,Title,SQL,Preview,Sys_ModifiedUserId
0,1,Project Category,"select DISTINCT ProjCat as Name, ProjCat as Va...",True,1
1,2,Project SubCategory*,"select ProjDesc as Name, ProjDescNo as Value F...",False,0
2,3,Funding Programs*,"select distinct FundProgramRecordId as Value, ...",False,0
3,4,States,"select name as Name, name as Value from pl_sta...",True,0
4,5,District Users,SELECT v.firstname + ' ' + v.lastname as Name...,True,0

'data_ServiceHours'

Index(['Id', 'ServiceTypeTime', 'AverageWeekdaySchedule',
       'AverageSaturdaySchedule', 'AverageSundaySchedule', 'WeekdayAMPeak',
       'WeekdayMidday', 'WeekdayPMPeak', 'ServiceMode', 'OrganizationId',
       'Sys_UserCreated', 'Sys_DateCreated', 'Sys_DateModified',
       'ModeAssociationId'],
      dtype='object')

,Id,ServiceTypeTime,AverageWeekdaySchedule,AverageSaturdaySchedule,AverageSundaySchedule,WeekdayAMPeak,WeekdayMidday,WeekdayPMPeak,ServiceMode,OrganizationId,Sys_UserCreated,Sys_DateCreated,Sys_DateModified,ModeAssociationId
0,1,1,4/19/2018 5:00:00 AM,4/19/2018 5:00:00 AM,4/19/2018 6:00:00 AM,4/19/2018 5:00:00 AM,4/19/2018 10:00:00 AM,4/19/2018 2:00:00 PM,8,3698,1883,4/19/2018 1:13:31 PM,4/19/2018 1:13:31 PM,
1,2,2,4/19/2018 11:00:00 PM,4/19/2018 11:00:00 PM,4/19/2018 11:00:00 PM,4/19/2018 10:00:00 AM,4/19/2018 2:00:00 PM,4/19/2018 6:00:00 PM,8,3698,1883,4/19/2018 1:15:26 PM,4/19/2018 1:15:58 PM,
2,3,1,5/23/2018 5:00:00 AM,5/23/2018 10:00:00 AM,5/23/2018 12:00:00 AM,5/23/2018 9:00:00 AM,5/23/2018 9:00:00 AM,5/23/2018 1:00:00 PM,3,4153,2150,5/23/2018 5:09:16 PM,5/23/2018 5:38:59 PM,
3,4,2,5/23/2018 8:00:00 PM,5/23/2018 8:00:00 PM,5/23/2018 12:00:00 AM,5/23/2018 9:00:00 AM,5/23/2018 9:00:00 AM,5/23/2018 1:00:00 PM,3,4153,2868,5/23/2018 5:24:14 PM,5/23/2018 5:39:07 PM,
4,5,1,11/27/2019 5:00:00 AM,11/27/2019 5:00:00 AM,11/27/2019 5:00:00 AM,11/27/2019 5:00:00 AM,11/27/2019 5:00:00 AM,11/27/2019 5:00:00 AM,3,3780,2123,9/24/2018 1:43:42 PM,11/27/2019 11:36:00 AM,2

'data_ServiceInfo'

Index(['Id', 'ServiceAreaId', 'ServicePopulation', 'Comments',
       'OrganizationId', 'Sys_UserCreated', 'Sys_DateCreated',
       'Sys_DateModified'],
      dtype='object')

,Id,ServiceAreaId,ServicePopulation,Comments,OrganizationId,Sys_UserCreated,Sys_DateCreated,Sys_DateModified
0,1,1,44602,,4153,481,4/16/2018 12:06:22 PM,11/20/2019 12:38:06 PM
1,2,1,,Operating hours: 5:00am to 11:00pm Monday - S...,3698,1883,4/19/2018 1:09:57 PM,1/7/2020 12:14:54 PM
2,3,1,1638000,7:30 AM to 6:30 PM \r\nMonday through Friday,3987,2389,4/19/2018 2:15:28 PM,4/19/2018 4:17:50 PM
3,4,2,,,3981,2444,4/20/2018 5:51:12 PM,4/20/2018 5:51:12 PM
4,5,7,18000,5:00am to 7:00pm Monday through Thursday\r\n5:...,4156,2585,4/27/2018 2:17:44 PM,4/30/2020 6:46:29 PM

'data_ServiceInfo_SelectedModes'

Index(['Id', 'OrganizationId', 'ModeDescription', 'ModeId',
       'ModeAssociationDescription', 'ModeAssociationId',
       'Sys_UserModifiedDate'],
      dtype='object')

,Id,OrganizationId,ModeDescription,ModeId,ModeAssociationDescription,ModeAssociationId,Sys_UserModifiedDate
0,4,3705,Bus (MB) (Fixed Route),3,PT - Purchased Transportation,2,5/29/2019 2:12:43 PM
1,5,3705,Demand Response (DR),9,PT - Purchased Transportation,2,5/29/2019 2:12:58 PM
2,6,3705,Intercity Service (IC),15,PT - Purchased Transportation,2,5/29/2019 2:14:14 PM
3,7,3872,Bus (MB) (Fixed Route),3,DO - Directly Operated,1,7/17/2019 5:46:56 PM
4,8,3872,Demand Response (DR),9,PT - Purchased Transportation,2,7/17/2019 5:47:07 PM

'data_Status'

Index(['Id', 'Status'], dtype='object')

  Id                 Status
0  1         Record Created
1  2  Pending Agency Review
2  3   Pending State Review
3  4               Approved
4  5     On-Site Inspection

'data_TaskBudgetLines'

Index(['BudgetLineID', 'ProjectTaskId', 'ALI_StateCode', 'Value',
       'Sys_ModifiedUserID'],
      dtype='object')

  BudgetLineID ProjectTaskId ALI_StateCode  Value Sys_ModifiedUserID
0        20807           936           826                       481
1        20808           936           948                       481
2        20809           937            31  24000                  0
3        20810           937            32      0                  0
4        20811           937            33      0                  0

'data_Transfer_Vehicles'

Index(['TransferId', 'OrganizationId', 'VehicleId', 'RequestDate',
       'JustificationId', 'TransferToOrganizationId', 'FairMarketValue',
       'FairMarketValueSource', 'VehicleStatusId', 'sys_CreatedUserId',
       'sys_ModifiedUserId'],
      dtype='object')

,TransferId,OrganizationId,VehicleId,RequestDate,JustificationId,TransferToOrganizationId,FairMarketValue,FairMarketValueSource,VehicleStatusId,sys_CreatedUserId,sys_ModifiedUserId
0,1,3710,12577,5/29/2018 1:36:47 PM,7,4073,,,10,2180,2180

'data_UnionAffiliations'

Index(['AffiliationId', 'OrgId', 'AffiliationType', 'AffiliationName',
       'Contact', 'Address', 'City', 'State', 'Zip', 'Phone', 'Email',
       'Sys_ModifiedUserId'],
      dtype='object')

,AffiliationId,OrgId,AffiliationType,AffiliationName,Contact,Address,City,State,Zip,Phone,Email,Sys_ModifiedUserId
0,1,3660,Union,test,Kevin,address,Tampa,FL,33607,5555555555,kt@panther.com,1159
1,2,3660,Union,test 3,Jason,add,Seminole,CA,33619,1234567890,jv@panther.com,1159
2,3,3660,Union,,,,,,,,,1159
3,4,3660,Union,,,,,,,,,1159
4,5,3660,Union,,,,,,,,,1159

'data_UnionNames'

Index(['Id', 'UnionName', 'OrgId', 'Sys_ModifiedUser'], dtype='object')

  Id   UnionName OrgId Sys_ModifiedUser
0  3  ATU         3699             1794
1  4  SEIU        3699             1794
2  5  AFS         3699             1794
3  6              3699             1794
4  9  ATU         3701             1738

'data_UnionProvider'

Index(['Id', 'Provider', 'OrgId', 'Sys_ModifiedUser'], dtype='object')

   Id Provider OrgId Sys_ModifiedUser
0   5           3699             1794
1   8     3855  3701             1738
2   9     3692  3701             1738
3  12           3695             2066
4  13     3870  3809             2197

'no data in data_VehicleDespositionActivity'

'no data in data_VehicleDispositions'

'no data in data_vehicles'

'data_VehicleThresholds'

Index(['VehicleThresholdId', 'Code', 'Comments', 'UsefulLife', 'Mileage'], dtype='object')

  VehicleThresholdId    Code                 Comments UsefulLife Mileage
0                 25      AO               Automobile          4
1                 26  B30-LD   Bus 30-Foot Light Duty          5  150000
2                 27  B30-MD  Bus 30-Foot Medium Duty          7  200000
3                 28  B30-HD   Bus 30-Foot Heavy Duty         10  350000
4                 29  B35-HD   Bus 35-Foot Heavy Duty         12  500000

'no data in data_Veh_Maintenance'

'no data in data_Veh_Maintenance_LineItem'

'data_Widget_AttributeValues'

Index(['Id', 'EntityPropertyId', 'AttributeId', 'Value'], dtype='object')

     Id EntityPropertyId AttributeId Value
0   165                            2
1   166                            1
2   167                            5
3   168                            4
4  3778              688          11    80

'no data in extension_AgencyBudgets'

'extension_data_Comments'

Index(['CommentId', 'RequestId', 'Comment', 'Sys_ModifiedUserId'], dtype='object')

,CommentId,RequestId,Comment,Sys_ModifiedUserId
0,1,675,server to replace 5 year old server,1042
1,2,799,Laptop to use in training room,1042
2,3,156,"Local = $6,250\r\nLocal Share is acquired from...",999
3,4,829,This grant request is for funding for expenses...,1101
4,5,835,Revised Resolution with correct amount will be...,1092

'extension_data_Grants'

Index(['GrantId', 'FiscalYear', 'FundSourceId', 'GrantNumber', 'AwardedTotal',
       'AwardedDate', 'ExecutionDate', 'ExpirationDate', 'DateClosedbyFTA',
       'Active', 'Deleted', 'CreatedDate', 'LastModified', 'Source',
       'GrantStatusId', 'IsLocked', 'IsBudgeted', 'Deadline', 'PublicURL',
       'AllocationsTotal', 'AllocationDate', 'DolDate', 'PopDate',
       'DolDateSubmitted', 'DolDateSubmittedById', 'PopDateSubmitted',
       'PopDateSubmittedById', 'Comments', 'Notes', 'Status', 'CreatedUserId',
       'PublishedDate', 'ReopenedDate', 'ReopenedUserId', 'PublishedUserId',
       'ClosedUserId', 'Chapter', 'Statute', 'Appropriation', 'Unit',
       'ProjectID', 'StateFY', 'PEC', 'FAIN'],
      dtype='object')

,GrantId,FiscalYear,FundSourceId,GrantNumber,AwardedTotal,AwardedDate,ExecutionDate,ExpirationDate,DateClosedbyFTA,Active,...,PublishedUserId,ClosedUserId,Chapter,Statute,Appropriation,Unit,ProjectID,StateFY,PEC,FAIN
0,29,2016,24,CA-2017-025 (0017000158),27298721.0000,3/20/2017 12:00:00 AM,1/1/2015 12:00:00 AM,9/30/2021 12:00:00 AM,,True,...,,,10 & 11,2015,16102F,3744,0017000158,15/16,,
1,30,2017,35,CA-2017-169 (0017000186-E),18811366.0000,9/18/2017 12:00:00 AM,10/1/2017 12:00:00 AM,9/30/2022 12:00:00 AM,,True,...,,,14,2017,18102F,3742,0017000186,17/18,,
2,31,2013,26,CA-34-0038 (0016000269),1247500.0000,11/30/2015 12:00:00 AM,11/5/2016 12:00:00 AM,6/30/2019 12:00:00 AM,,True,...,,,23,2016,17102F,3743,0016000269,16/17,,
3,32,2016,27,,1.0000,,,,,False,...,,,,,,,,,,
4,33,2017,28,CA-2017-168 (0017000259-F),4204756.0000,9/15/2017 12:00:00 AM,10/1/2016 12:00:00 AM,9/30/2022 12:00:00 AM,,True,...,,,23,2016,17102F,3744,0017000259,16/17,,

'extension_data_Grants_Distribution'

Index(['Id', 'GrantId', 'Title', 'Amount', 'Locked', 'Sys_ModifiedUserId'], dtype='object')

   Id GrantId      Title        Amount Locked Sys_ModifiedUserId
0  33      29  Main 2016  7030628.0000   True               1157
1  35      31       Main  -152686.0000   True               1157
2  36      32       Main        1.0000   True                481
3  38      33       Main  4204756.0000   True               1157
4  39      34       Main        0.0000   True               1157

'no data in extension_data_Grants_Distribution_AgencyAmounts'

'no data in extension_data_JPATrackings'

'no data in extension_data_JPATrackings_Extension'

'no data in extension_data_PopRequests'

'no data in extension_data_ReviewSetup'

'no data in extension_data_TIP'

'no data in extension_data_TIP_Projects'

'no data in extension_data_TIP_Review'

'no data in extension_data_UserScoreCard'

'no data in extension_data_Wpo_JPA_Checklist'

'no data in extension_data_Wpo_JPA_Checklist_Review'

'no data in extension_link_CIP_Project'

'no data in extension_NTDAnnualReports_BasicContacts'

'extension_pl_AgendaTypes'

Index(['AgendaTypeId', 'Code', 'Name'], dtype='object')

  AgendaTypeId Code                              Name
0            1  PSR              Project Staff Review
1            2  TAC  Tennessee Aeronautics Commission

'extension_pl_CIP_Status'

Index(['Id', 'Title'], dtype='object')

  Id         Title
0  1  Not Proposed
1  2      Proposed
2  3           Yes
3  4            No
4  5        Funded

'extension_pl_GrantFundFields'

Index(['Id', 'Category'], dtype='object')

  Id                        Category
0  1                 Program Reserve
1  2  Section 5311(f)-Intercity Bus
2  3    State Program Administration
3  4                            RTAP

'extension_pl_GrantStatus'

Index(['Id', 'Title'], dtype='object')

  Id           Title
0  1            Open
1  2          Closed
2  3  In Development

'extension_pl_JPAStatus'

Index(['Id', 'StatusName'], dtype='object')

  Id StatusName
0  1  Submitted
1  2   Approved
2  3   Rejected

'extension_pl_NeedStatus'

Index(['Id', 'Title'], dtype='object')

  Id               Title
0  1           Converted
1  2  Scenario Converted
2  3            Rejected
3  4            Approved

'extension_pl_Organization_CIP'

Index(['Id', 'Type', 'Code', 'Title', 'Points'], dtype='object')

  Id Type Code          Title Points
0  1   RR  RR1            Yes      3
1  2   RR  RR2             No     -3
2  3   OB  OB1            One      0
3  4   OB  OB2            Two     -1
4  5   OB  OB3  Three or more     -5

'extension_pl_ProjectCategory'

Index(['Id', 'Code', 'Title'], dtype='object')

  Id Code                           Title
0  1  AAX          Plans - Airport Action
1  2  AEX   Plans - Airport Environmental
2  3  ALX          Plans - Airport Layout
3  4  AMX  Plans - Master/Feasibility,Sty
4  6  BAX                Building - Other

'extension_pl_ProjectSubCategory'

Index(['Id', 'CategoryCode', 'ProjectCode', 'Title', 'Score'], dtype='object')

,Id,CategoryCode,ProjectCode,Title,Score
0,1,AAX,AAP01pl,Height Zoning Ordinances,40
1,2,AAX,AAP02pl,Air Services / Air Cargo Plan / Action Plan,25
2,3,AAX,AAP03pl,"Special Plan (economic,F&E,etc.)",15
3,4,AEX,AEC00st,"Construction, upgrade, etc. to meet Fed/State ...",35
4,5,AAX,AEP01pl,"SWPPP (storm water permit),SPCC,ODC,etc.",20

'extension_pl_StateCodes'

Index(['Id', 'StateCode', 'ProgramTitle'], dtype='object')

  Id StateCode                            ProgramTitle
0  4      AIP1          AIP State Block Grant - Annual
1  5      AIP2   AIP State Block Grant - Discretionary
2  6       TEF  State Transportation Equity Fund (TEF)

'extension_pl_TIP_Status'

Index(['Id', 'Title'], dtype='object')

  Id                 Title
0  1           TIP Created
1  2              Rejected
2  3          OTP Accepted
3  4  Accepted for Release
4  5          MPO Endorsed

'extension_pl_Wpo_JPM_ChecklistForms'

Index(['Id', 'GroupId', 'Title', 'Form', 'Sequence'], dtype='object')

  Id GroupId                              Title   Form Sequence
0  1       1  Single Audit Vendor Determination  SFM-8        1
1  2       1             Single Audit Checklist  SFM-9        2
2  3       1                               CCNA  SFM-1        3
3  4       1        Final Project Certification  SFM-6        4
4  5       2  Single Audit Vendor Determination  SFM-8        1

'extension_pl_Wpo_JPM_ChecklistMilestones'

Index(['Id', 'MileStone', 'GroupId', 'FormId', 'NotificationId', 'Sequence'], dtype='object')

  Id                          MileStone GroupId FormId NotificationId Sequence
0  1  Single Audit Vendor Determination       1      1                       1
1  2             Single Audit Checklist       1      2                       2
2  3                               CCNA       1      3                       3
3  4     Consultant 3rd Party Agreement       1                     1        4
4  5      Project Scope Meeting Minutes       1                              5

'extension_pl_Wpo_JPM_ChecklistNotifications'

Index(['Id', 'GroupId', 'Title', 'Notification1', 'Notification2', 'Sequence'], dtype='object')

  Id GroupId                Title Notification1 Notification2 Sequence
0  1       1  3rd Party Agreement         SPM-2                      1
1  2       1         Scope Review         SPM-7         SPM-8        2
2  3       1         Draft Review         SPM-9                      3
3  4       1         Final Review        SPM-10        SPM-11        4
4  5       1         Change Order         SPM-5         SPM-6        5

'extension_rpt_Wpo_JFM'

Index(['Id', 'ContactId', 'FormId', 'AirportName', 'SponsorName', 'FMItem',
       'Description', 'ExecutionDate', 'FirmName', 'CertifiedBy', 'Engineer',
       'Contractor', 'FDOTInspector', 'UPIN'],
      dtype='object')

,Id,ContactId,FormId,AirportName,SponsorName,FMItem,Description,ExecutionDate,FirmName,CertifiedBy,Engineer,Contractor,FDOTInspector,UPIN
0,2,364,2,Chattanooga Metropolitan (Lovell Field),Chattanooga Metropolitan (Lovell Field),N/A,Build new rear gate access road,,,,,,,BCG0000061
1,5,1,1,Chattanooga Metropolitan (Lovell Field),Chattanooga Metropolitan (Lovell Field),N/A,Build new rear gate access road,,,,,,,BCG0000061
2,7,1,2,Chattanooga Metropolitan (Lovell Field),Chattanooga Metropolitan (Lovell Field),N/A,Build new rear gate access road,,,,,,,BCG0000061
3,8,1,3,,Chattanooga Metropolitan (Lovell Field),N/A,Build new rear gate access road,,454,454,,,,BCG0000061
4,16,364,1,Chattanooga Metropolitan (Lovell Field),Chattanooga Metropolitan (Lovell Field),N/A,Build new rear gate access road,,,,,,,BCG0000061

'Fact_ApplicationDocuments'

Index(['Id', 'OrganizationId', 'DocumentCategoryId', 'FriendlyName',
       'FileName', 'DocumentSize', 'Deleted', 'Archived', 'ModifiedDate',
       'ModifiedUser', 'ExpiryDate'],
      dtype='object')

,Id,OrganizationId,DocumentCategoryId,FriendlyName,FileName,DocumentSize,Deleted,Archived,ModifiedDate,ModifiedUser,ExpiryDate
0,1,3748,1,Federal Transit Administration (FTA) Certifica...,128201652248PM_167_Res.pdf,77368,True,False,1/28/2016 5:24:31 PM,481,
1,2,3699,1,Federal Transit Administration (FTA) Certifica...,128201653217PM_Test_word_document.pdf,28516,True,False,1/28/2016 5:32:29 PM,1970,
2,3,3699,1,Federal Transit Administration (FTA) Certifica...,128201653243PM_Test_word_document.pdf,28516,True,False,4/7/2016 6:29:25 PM,1794,
3,13,3738,1,Federal Transit Administration (FTA) Certifica...,216201612009PM_FY15_Certs_Assurances.pdf,819173,True,False,5/20/2016 1:22:56 PM,2049,
4,14,3817,1,Federal Transit Administration (FTA) Certifica...,2192016112622AM_CA_Copy_of_Webinar_RSVP_List.xlsx,50883,True,False,2/19/2016 11:26:36 AM,2150,

'Fact_ApplicationDocument_Log'

Index(['Id', 'OrganizationId', 'ApplicationYear', 'DocumentId', 'ActionId',
       'ModifiedDate', 'ModifiedUser', 'Document_TypeId'],
      dtype='object')

,Id,OrganizationId,ApplicationYear,DocumentId,ActionId,ModifiedDate,ModifiedUser,Document_TypeId
0,3,,,2,1,1/28/2016 5:32:17 PM,1970,
1,4,,,2,4,1/28/2016 5:32:29 PM,1970,
2,5,,,3,1,1/28/2016 5:32:43 PM,1970,
3,6,,,0,2,1/28/2016 6:48:06 PM,1159,
4,60,,,0,2,2/9/2016 1:36:17 PM,2116,

'InventoryEquipment'

Index(['Id', 'CountyID', 'OrganizationId', 'AgencyName', 'InventoryNum',
       'Condition', 'Description', 'DateInService', 'Manufacturer',
       'AcquisitionCost', 'DateOutOfService', 'Disposed?', 'Comment',
       'Sys_ModifiedUserId', 'DispositionDate', 'DOTFunded', 'FundingSource',
       'Quantity', 'StandardAgreementNumber', 'GrantNumber', 'FederalShare',
       'TollShare', 'OtherShare', 'TotalCost', 'DOTID', 'SerialNumber',
       'PurchaseOrderNumber', 'PurchaseOrderDate', 'InvoiceNumber', 'Vendor',
       'LastInspectionDate', 'NextInspectionDate', 'ImprovementType',
       'Comments', 'InventoryID', 'EquipmentYear', 'Model', 'ULYearsRemaining',
       'DateIn', 'DateOut', 'Location', 'CurrentYrCondition', 'EquipmentType',
       'AverageCostPerUnit', 'FederalSharePer', 'TollSharePer', 'Status'],
      dtype='object')

,Id,CountyID,OrganizationId,AgencyName,InventoryNum,Condition,Description,DateInService,Manufacturer,AcquisitionCost,...,ULYearsRemaining,DateIn,DateOut,Location,CurrentYrCondition,EquipmentType,AverageCostPerUnit,FederalSharePer,TollSharePer,Status
0,1476,1,3748,1,1,Excellent,1,1/15/2016 12:00:00 AM,dsfdsf,23.0000,...,dd,1/21/2016 12:00:00 AM,,trytr,Excellent,,,,,
1,1477,1,3748,1,1,1,1,1/15/2016 12:00:00 AM,f,23.0000,...,,,,,,,,,,
2,1478,,3748,,,,,,,,...,,,,,,,,,,
3,1480,,3715,,,,,,UHF Mobile,,...,3,,,"200 Campus Drive, Arvin",,Surveillance Equipment,133.8900,,,
4,1481,,3715,,,,,,Transit Transfer Facility & various infrastruc...,,...,40,,,"165 Plumtree Drive, City of Arvin",,Building Structures,575445.0000,,,

'no data in InventoryEquipment_Import'

'no data in InventoryFacility'

'no data in InventoryPNR'

'no data in InventoryRail'

'InventoryVehicle'

Index(['Id', 'OrganizationId', 'CountyID', 'AgencyName', 'InventoryID',
       'CurrentYrMileage', 'CurrentYrCondition', 'ProjectNumber', 'Vendor',
       'Mfr', 'Model', 'VehicleYear', 'VIN', 'PT_Code', 'Use', 'Fuel',
       'RegSeats', 'DisSeats', 'Own?', 'Revenue?', 'Active?', 'DateIn',
       'DateOut', 'Cost', 'FedPerc', 'OHPerc', 'DispositionValue',
       'DispositionFedStatus', 'DispositionDate', 'DispositionMiles',
       'Comments', 'Sys_ModifiedUserId', 'DOTFunded', 'FundingSource',
       'VehicleStatus', 'LiscensePlate', 'GrantNumber', 'DOTLienStatus',
       'FederalShare', 'TollShare', 'OtherShare', 'TotalCost', 'VehicleLength',
       'Lift', 'LiftType', 'Ramp', 'RampType', 'MileageAsOfDate',
       'FederalSharePer', 'TollSharePer', 'OtherSharePer', 'DOTID',
       'StandardAgreementNumber', 'PurchaseOrderNumber', 'PurchaseOrderDate',
       'InvoiceNumber', 'EquipmentReceivedDate', 'TitleNumber',
       'TitleReleaseDate', 'ReportingReleaseDate', 'WheelchairPositions',
       'ImprovementType', 'ReplaceVIN', 'ULYearsRemaining',
       'ULMileageRemaining', 'YearRebuild', 'VehicleTransferDate',
       'TransferRecipient', 'TransferSANumber', 'LastInspectionDate',
       'NextInspectionDate', 'Program', 'FTACategory', 'LocalShare',
       'LocalSharePer', 'MfrSec', 'WheelchairEquiped', 'VehicleClass',
       'BusNum', 'FairMarketValue', 'SoldPrice', 'ULExpirationDate'],
      dtype='object')

,Id,OrganizationId,CountyID,AgencyName,InventoryID,CurrentYrMileage,CurrentYrCondition,ProjectNumber,Vendor,Mfr,...,FTACategory,LocalShare,LocalSharePer,MfrSec,WheelchairEquiped,VehicleClass,BusNum,FairMarketValue,SoldPrice,ULExpirationDate
0,4452,3758,,,,0,,,Creative Bus Sales,Ford E-450,...,Light-Duty Mid-Sized Bus,7667,,,False,,,,,
1,4453,3758,,,,0,,,Creative Bus Sales,Ford E-450,...,Light-Duty Mid-Sized Bus,7667,,,False,,,,,
2,4454,3758,,,,0,,,Creative Bus Sales,Ford E-450,...,Light-Duty Mid-Sized Bus,7667,,,False,,,,,
3,4455,3758,,,,0,,,Creative Bus Sales,Ford E-450,...,Light-Duty Mid-Sized Bus,7667,,,False,,,,,
4,4456,3758,,,,0,,,Creative Bus Sales,Ford E-450,...,Light-Duty Mid-Sized Bus,7667,,,False,,,,,

'InventoryVehicles_Import'

Index(['Id', 'OrganizationId', 'Agency', 'District', 'Funded By DOT?',
       'State or Federal', 'Program', 'SA #', 'Grant ', 'Program Share',
       'Program Perecent', 'Toll Credit', 'Toll Credit Percent',
       'Federal Share', 'Federal Share Percent', 'Local Share',
       'Local Share Percent', 'Vehicle Cost', 'Bus #',
       'Does Caltrans Hold Title as Lienholder?', 'Title Number',
       'Vehicle License Plate Number', 'Current Mileage', 'Vehicle Use',
       'Status', 'Improvement Type', 'VIN Number', 'Year', 'FTA Category',
       'Vehicle Class', 'Secondary Manufacturer', 'Chassis', 'Fuel Type',
       'Vehicle Length', 'Equipped with Wheelchair Lift?',
       'Ambulatory Seating Capacity', 'Wheelchair Positions',
       'Placed Into Service Date', 'FTA Useful Life Years',
       'Useful Life Expiration Date', 'FTA Useful Life Mileage',
       'Vehicle Release from Reporting Date', 'Year Rebuild',
       'Last Inspection Date', 'Vehicle Condition', 'Next Inspection Date',
       'Purchase Order Number', 'Purchase Order Date', 'Invoice Number',
       'Vendor', 'Equipment Transfer Date', 'Equipment Transfer Recipient',
       'Vehicle Transfer SA#',
       'Fair Market Value at Time of Diposition Request', 'Sold Price',
       'Disposition Date', 'Comments', 'Sys_ModifiedUserId'],
      dtype='object')

,Id,OrganizationId,Agency,District,Funded By DOT?,State or Federal,Program,SA #,Grant,Program Share,...,Invoice Number,Vendor,Equipment Transfer Date,Equipment Transfer Recipient,Vehicle Transfer SA#,Fair Market Value at Time of Diposition Request,Sold Price,Disposition Date,Comments,Sys_ModifiedUserId
0,1,,Antelope Valley Transit Authority,07,Yes,Federal,ARRA,649802,CA-86-X001,215215.1100,...,50143,Creative Bus Sales,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,
1,2,,Antelope Valley Transit Authority,07,Yes,Federal,ARRA,649802,CA-86-X001,215215.1100,...,50142,Creative Bus Sales,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,
2,3,,Antelope Valley Transit Authority,07,Yes,Federal,ARRA,649802,CA-86-X001,215215.1100,...,50141,Creative Bus Sales,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,
3,4,,Arcata and Mad River Transit System,01,Yes,Federal,5311,647001,CA-18-X025,220813.0964,...,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,
4,5,,Arcata and Mad River Transit System,01,Yes,Federal,5311,647001,CA-18-X025,220813.0964,...,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,N.A.,

'no data in InventoryVehicles_Import_2'

'no data in LINE_ITEMS'

'no data in LINE_ITEM_TYPES'

'link_ALI_StateCodes'

Index(['ID', 'ALIID', 'StateLineCode'], dtype='object')

   ID ALIID StateLineCode
0  22     3             1
1  23     3             2
2  24     3             3
3  25     3           210
4  26     3           211

'link_Contract_Allocations'

Index(['Id', 'ContractId', 'AllocationId', 'RequestId'], dtype='object')

   Id ContractId AllocationId RequestId
0  12         90          504      1038
1  13         90          505      1038
2  14         91          522      1048
3  15         91          523      1048
4  19         92          754      1089

'no data in link_Contract_Amendments'

'no data in link_Contract_ProjectRequest'

'no data in Link_DistrictReps'

'no data in link_DynamicField_Options'

'no data in link_EntityDescendents'

'link_EntityRelations'

Index(['EntityRelationId', 'EntityId', 'RelationEntityId'], dtype='object')

  EntityRelationId EntityId RelationEntityId
0               27      326              213
1               29      326              396
2               30      326              397
3               31      326              376
4               32      326              398

'link_Entity_EntityProperties'

Index(['Id', 'EntityId', 'EntityPropertyId', 'SectionId',
       'Sys_ModifiedUserId'],
      dtype='object')

     Id EntityId EntityPropertyId SectionId Sys_ModifiedUserId
0  1596      324              461                            0
1  1599      324              687                            0
2  2302       47               53                            0
3  2303       47               54                            0
4  2304       47               55                            0

'link_Equipment_Mode'

Index(['Id', 'EquipmentId', 'ModeId'], dtype='object')

  Id EquipmentId ModeId
0  1           5      6
1  2           6      6
2  3           6     14
3  4           6      7
4  5           7      6

'link_Facility_ServiceProvider'

Index(['Id', 'FacilityId', 'OrganizationId'], dtype='object')

   Id FacilityId OrganizationId
0   1          3           3723
1   2          3           3728
2   3          4           3723
3   5          6           3691
4  14         28           3906

'no data in link_Finding_Comment'

'link_GrantScoreCard'

Index(['Id', 'GrantId', 'ScoreCard', 'Type', 'TableName'], dtype='object')

  Id GrantId             ScoreCard  Type TableName
0  1       3   ScoreCard_5311.ascx  5311
1  2       4   ScoreCard_5311.ascx  5311
2  3      17   ScoreCard_5307.ascx  5307
3  4      18   ScoreCard_5307.ascx  5307
4  6      23  ScoreCard_OTPPP.ascx  OTPP

'link_ImportantDocuments_Category_Type'

Index(['Id', 'ImportantDocumentsCategoryId', 'ImportantDocumentsTypeId'], dtype='object')

  Id ImportantDocumentsCategoryId ImportantDocumentsTypeId
0  1                            2                        1
1  2                            3                        2
2  3                            3                        3
3  4                            3                        4
4  5                            3                        5

'link_ImportantDocumentType_SuppliedDocument'

Index(['Id', 'ImportantDocumentsTypeId', 'FileName', 'UploadedDate',
       'Archived'],
      dtype='object')

,Id,ImportantDocumentsTypeId,FileName,UploadedDate,Archived
0,2,6,DBE Implementation Agreement 2019.docx,5/9/2019 2:35:36 PM,False
1,3,35,DBE Threshold Questionnaire.docx,5/9/2019 2:36:21 PM,True
2,4,35,DBE Threshold Questionnaire.docx,1/8/2020 6:05:58 PM,False
3,5,1,FY20_Certifications_and_Assurances.pdf,2/28/2020 5:55:08 PM,True
4,6,1,FY20_Certifications_and_Assurances.pdf,3/2/2020 10:17:58 AM,False

'link_Inspection_Folder'

Index(['Id', 'InspectionId', 'FolderId'], dtype='object')

  Id InspectionId FolderId
0  1            1        1
1  2            1        2
2  3            1        4
3  4            1        5
4  5            1        6

'no data in link_OrganizationContactType'

'link_OrganizationFundSources'

Index(['OrganizationFundSourceId', 'OrganizationId', 'FundingSourceId'], dtype='object')

  OrganizationFundSourceId OrganizationId FundingSourceId
0                     2737            138              22
1                    16918           3685              30
2                    16919           3675              30
3                    16920           3750              30
4                    16921           3705              30

'no data in link_OrganizationPlannedProjects'

'link_OrganizationRidership_VehicleNarrative'

Index(['Id', 'RidershipReportId', 'ReportId', 'VehicleId', 'NarrativeType',
       'NarrativeDescription', 'Sys_UserModifiedId'],
      dtype='object')

,Id,RidershipReportId,ReportId,VehicleId,NarrativeType,NarrativeDescription,Sys_UserModifiedId
0,3,3,357,15646,RepairCosts,Preventative Maintenance and tires,2536
1,4,3,357,15646,OutofService,Program Closed due to COVID 19 for 11 days,2536
2,7,3,357,15647,RepairCosts,Preventative Maintenance and tires,2536
3,8,3,357,15647,OutofService,Program closed due to COVID 19 for 9 days,2536

'link_OrgId_EntityRecordId_OLD_MAPPINGS'

Index(['Id', 'OrgId', 'EntityRecordId'], dtype='object')

  Id OrgId EntityRecordId
0  1   144           3660
1  2   145           3661
2  3   146           3662
3  4   147           3663
4  5   148           3664

'link_PerformanceMeasuresEquipment'

Index(['Id', 'PerformanceMeasuresId', 'EquipmentTypeId', 'Years',
       'YearsEditRule', 'RulePercent', 'PercentEditRule', 'Sys_CreatedUserId',
       'Sys_ModifiedUserId', 'GroupPlanId'],
      dtype='object')

,Id,PerformanceMeasuresId,EquipmentTypeId,Years,YearsEditRule,RulePercent,PercentEditRule,Sys_CreatedUserId,Sys_ModifiedUserId,GroupPlanId
0,7,7,1,8,False,100.00,False,2307,2307,7
1,8,7,15,0,False,100.00,False,2307,2307,7
2,9,8,1,8,False,100.00,False,2307,2307,8
3,10,8,4,0,False,100.00,False,2307,2307,8
4,11,8,15,0,False,100.00,False,2307,2307,8

'link_PerformanceMeasuresEquipmentOrg'

Index(['Id', 'PerformanceMeasuresEquipmentID', 'Organizationid', 'Years',
       'RulePercent', 'Sys_CreatedUserId', 'Sys_ModifiedUserId'],
      dtype='object')

,Id,PerformanceMeasuresEquipmentID,Organizationid,Years,RulePercent,Sys_CreatedUserId,Sys_ModifiedUserId
0,3,10,3682,8,100.00,2307,2030
1,4,9,3670,20,0.00,2307,2630
2,5,11,3670,30,0.00,2307,2630
3,6,12,3713,7,7.75,2307,1944
4,7,13,3713,15,15.75,2307,1944

'link_PerformanceMeasuresFacilities'

Index(['Id', 'PerformanceMeasuresId', 'FacilityType', 'ConditionId',
       'RatingEditRule', 'RulePercent', 'PercentEditRule', 'Sys_CreatedUserId',
       'Sys_ModifiedUserId', 'GroupPlanId'],
      dtype='object')

,Id,PerformanceMeasuresId,FacilityType,ConditionId,RatingEditRule,RulePercent,PercentEditRule,Sys_CreatedUserId,Sys_ModifiedUserId,GroupPlanId
0,25,3,Administration,3,False,100.00,False,2810,2307,3
1,26,3,Maintenance,3,False,100.00,False,2810,2307,3
2,27,3,Passenger Facility,3,False,100.00,False,2810,2307,3
3,41,7,Administration,3,False,100.00,False,2307,2307,7
4,42,7,Maintenance,3,False,100.00,False,2307,2307,7

'link_PerformanceMeasuresFacilitiesOrg'

Index(['Id', 'PerformanceMeasuresFacilitiesId', 'OrganizationId',
       'ConditionId', 'RulePercent', 'Sys_CreatedUserId',
       'Sys_ModifiedUserId'],
      dtype='object')

,Id,PerformanceMeasuresFacilitiesId,OrganizationId,ConditionId,RulePercent,Sys_CreatedUserId,Sys_ModifiedUserId
0,3,45,3723,3,0.00,2307,1715
1,4,46,3723,3,0.00,2307,1715
2,5,44,3670,3,0.00,2307,2630
3,6,45,3670,3,0.00,2307,2630
4,7,45,3713,1,100.96,2307,1944

'link_PerformanceMeasuresGroupInventoryTypes'

Index(['Id', 'PerformanceMeasuresGroupPlanId', 'InventoryTypeId'], dtype='object')

   Id PerformanceMeasuresGroupPlanId InventoryTypeId
0  19                              7               1
1  20                              7               2
2  21                              7               3
3  22                              8               1
4  23                              8               2

'link_PerformanceMeasuresVehicle'

Index(['Id', 'PerformanceMeasuresId', 'VehicleTypeId', 'Years',
       'YearsEditRule', 'RulePercent', 'PercentEditRule', 'Sys_CreatedUserId',
       'Sys_ModifiedUserId', 'GroupPlanId'],
      dtype='object')

,Id,PerformanceMeasuresId,VehicleTypeId,Years,YearsEditRule,RulePercent,PercentEditRule,Sys_CreatedUserId,Sys_ModifiedUserId,GroupPlanId
0,84,8,4,14,False,100.00,False,2307,2307,8
1,85,8,5,14,False,100.00,False,2307,2307,8
2,86,8,7,10,False,100.00,False,2307,2307,8
3,87,8,15,8,False,100.00,False,2307,2307,8
4,88,8,19,14,False,100.00,False,2307,2307,8

'link_PerformanceMeasuresVehicleOrg'

Index(['Id', 'PerformanceMeasuresVehicleID', 'Organizationid', 'Years',
       'RulePercent', 'Sys_CreatedUserId', 'Sys_ModifiedUserId'],
      dtype='object')

,Id,PerformanceMeasuresVehicleID,Organizationid,Years,RulePercent,Sys_CreatedUserId,Sys_ModifiedUserId
0,7,86,3749,10,100.00,2307,2299
1,8,87,3749,8,100.00,2307,2299
2,9,85,3675,14,100.00,2307,1976
3,10,86,3675,10,100.00,2307,1976
4,11,85,3750,14,100.00,2307,1978

'no data in link_Program_Application'

'link_ProjectReviewStep_Project'

Index(['ID', 'OpportunityID', 'ProjectID', 'ProjectReviewStepID', 'UserID',
       'CreatedDate', 'SysStatusID'],
      dtype='object')

,ID,OpportunityID,ProjectID,ProjectReviewStepID,UserID,CreatedDate,SysStatusID
0,1,240,1042,1,481,9/9/2016 2:24:05 PM,1
1,2,365,1062,1,481,9/9/2016 2:24:05 PM,1
2,3,449,1153,1,481,9/9/2016 2:24:05 PM,1
3,4,449,1155,1,481,9/9/2016 2:24:05 PM,1
4,5,300,1162,1,481,9/9/2016 2:24:05 PM,1

'no data in link_ProjectVehicleMaintenance'

'link_Report_Entity'

Index(['Id', 'EntityId', 'ReportId', 'ReportLinkText'], dtype='object')

  Id EntityId ReportId ReportLinkText
0  1       48       92
1  2       48       93
2  3       48       94
3  4      326       92
4  5      326       94

'link_ReviewType_Folder'

Index(['Id', 'ReviewTypeId', 'FolderId', 'Sys_ModifiedUserId'], dtype='object')

  Id ReviewTypeId FolderId Sys_ModifiedUserId
0  1            1        1               2307
1  3            1        3               2307
2  4            1        4               2307
3  5            1        5               2307
4  6            1        6               2307

'link_ReviewType_Reviewers'

Index(['ReviewTypeId', 'ReviewerUserId'], dtype='object')

  ReviewTypeId ReviewerUserId
0            1           1982
1            1           2022
2            1           2027
3            1           2055
4            1           2057

'no data in link_Review_User_Opportunity'

'link_Review_User_Project'

Index(['Id', 'OpportunityId', 'ProjectId', 'UserId', 'Complete', 'Score',
       'Sys_LastModifiedDate'],
      dtype='object')

    Id OpportunityId ProjectId UserId Complete Score  Sys_LastModifiedDate
0  363           237      1045   2059     True     1  5/27/2016 5:37:47 PM
1  364           237      1045   2007     True     1   5/6/2016 3:58:49 PM
2  365           237      1045   2180     True     1  5/27/2016 2:07:03 PM
3  368           274      1033   2059     True     1  5/20/2016 4:29:45 PM
4  369           274      1033   2007     True     1  5/18/2016 6:54:06 PM

'link_ServiceInfo_County_Organization'

Index(['Id', 'CountyId', 'OrganizationId'], dtype='object')

   Id CountyId OrganizationId
0   6       55           3987
1   7       55           3981
2   8       61           3981
3  16       68           3747
4  17       80           3747

'link_ServiceInfo_Modes_Organization'

Index(['Id', 'ModeId', 'OrganizationId', 'ModeAssociation'], dtype='object')

  Id ModeId OrganizationId ModeAssociation
0  4     10           4156
1  5      6           4156
2  6     15           4156
3  7      9           4156
4  8      8           3698

'link_ServiceInfo_Municipalities_Organization'

Index(['Id', 'MunicipalityId', 'OrganizationId'], dtype='object')

  Id MunicipalityId OrganizationId
0  4             75           3759
1  5            123           3759
2  6            281           3759
3  7            333           3759
4  8            132           3759

'link_ServiceInfo_UrbanizedArea_Organization'

Index(['Id', 'UrbanizedId', 'OrganizationId'], dtype='object')

   Id UrbanizedId OrganizationId
0   1           3           3759
1   3          41           3675
2   6          64           3977
3  15          22           3915
4  40          34           3913

'link_UserContactType'

Index(['ID', 'ContactTypeId', 'UserId'], dtype='object')

   ID ContactTypeId UserId
0   8             2   1161
1   9             3   1161
2  10            15   1161
3  11             1   1161
4  36            14   2156

'no data in link_User_DashboardControl'

'link_User_Grant'

Index(['Id', 'UserId', 'GrantId'], dtype='object')

    Id UserId GrantId
0  105   1159      29
1  106   1157      29
2  166   2059      33
3  167   2237      33
4  168   2007      33

'link_User_Group'

Index(['Id', 'UserId', 'GroupId'], dtype='object')

     Id UserId GroupId
0   586    481       2
1   598    481      22
2  1850   1150       4
3  1851   1151       2
4  1852   1151      29

'link_User_Organization'

Index(['Id', 'UserId', 'OrganizationId'], dtype='object')

     Id UserId OrganizationId
0   533    481              1
1  1301   1150           3657
2  1302   1151              1
3  1303   1152              1
4  1304   1153              1

'link_VehicleClassContractType'

Index(['Id', 'ClassId', 'VehicleContractTypeId'], dtype='object')

  Id ClassId VehicleContractTypeId
0  1       1                     1
1  2       1                     2
2  3       2                     1
3  4       2                     2
4  5       3                     1

'link_VehicleClassFuelType'

Index(['Id', 'ClassId', 'FuelID'], dtype='object')

  Id ClassId FuelID
0  1       1     GA
1  2       2     GA
2  3       2     DF
3  4       2     CN
4  5       3     GA

'link_VehicleDispositions'

Index(['Id', 'VehicleId', 'DispositionId'], dtype='object')

  Id VehicleId DispositionId
0  1     12718             1
1  2     12797             6
2  3     12795             4
3  4     12796             5
4  5     12460            10

'link_VehicleFTACodeClass'

Index(['Id', 'CodeId', 'ClassId'], dtype='object')

  Id CodeId ClassId
0  1      1      10
1  2      2       8
2  3      2       9
3  4      2      11
4  5      3       5

'link_Vehicle_Mode'

Index(['Id', 'VehicleId', 'VehicleModeId'], dtype='object')

  Id VehicleId VehicleModeId
0  1     13612             7
1  2     13613             7
2  3     13614             7
3  4     13615             7
4  5     13616             7

'link_WatchlistProjects'

Index(['Id', 'UserId', 'ProjectId'], dtype='object')

    Id UserId ProjectId
0  181   2006      1024
1  188   2179      1078
2  190   2059      1089
3  191   2059      1090
4  192   2059      1077

'link_WidgetType_Attributes'

Index(['Id', 'WidgetTypeId', 'AttributeId'], dtype='object')

   Id WidgetTypeId AttributeId
0  11            5          11
1  12            5          12
2  13            5          13
3  14            5          14
4  15            5          15

'no data in MPOs'

'no data in OrganizationAdditionalContacts'

'OrganizationContacts'

Index(['Id', 'OrganizationId', 'Salutation', 'FirstName', 'MiddleInitial',
       'LastName', 'Suffix', 'Position', 'ContactTypeId', 'Address1',
       'Address2', 'City', 'County', 'State', 'ZipCode', 'PrimaryPhone',
       'PrimaryPhoneExt', 'SecondaryPhone', 'SecondaryPhoneExt',
       'PrimaryEmail', 'SecondaryEmail', 'Comments', 'Sys_ModifiedUserId'],
      dtype='object')

,Id,OrganizationId,Salutation,FirstName,MiddleInitial,LastName,Suffix,Position,ContactTypeId,Address1,...,State,ZipCode,PrimaryPhone,PrimaryPhoneExt,SecondaryPhone,SecondaryPhoneExt,PrimaryEmail,SecondaryEmail,Comments,Sys_ModifiedUserId
0,654,138,Mr,Susan,,Fossen,,,,PO Box 306; 105 Central Ave,...,ND,58348-0306,(701) 438-2192,,(701) 653-5187,,susanpatfossen@gondtc.com,,,481

'no data in OrganizationConversion'

'OrganizationCounties'

Index(['Id', 'OrganizationId', 'CountyList', 'Sys_UserModified'], dtype='object')

  Id OrganizationId CountyList Sys_UserModified
0  1              0      1,2,3              481

'no data in OrganizationCTD'

'OrganizationDistrict'

Index(['Id', 'OrganizationId', 'DistrictList', 'Sys_UserModified'], dtype='object')

  Id OrganizationId DistrictList Sys_UserModified
0  1              0        1,2,3              481

'OrganizationFares'

Index(['Id', 'OrganizationId', 'BaseFixed', 'BaseDemand', 'YouthFixed',
       'YouthDemand', 'EDFixed', 'EDDemand', 'TransfersFixed',
       'TransfersDemand', 'Memo', 'PublicFareChangeProcess', 'FareStructure',
       'DiscountTypes', 'FareMedia', 'RAddressOne', 'RAddressTwo', 'RCity',
       'RState', 'RZip', 'FareEffectiveDate'],
      dtype='object')

,Id,OrganizationId,BaseFixed,BaseDemand,YouthFixed,YouthDemand,EDFixed,EDDemand,TransfersFixed,TransfersDemand,...,PublicFareChangeProcess,FareStructure,DiscountTypes,FareMedia,RAddressOne,RAddressTwo,RCity,RState,RZip,FareEffectiveDate
0,1,3748,2.00,,,,,,,,...,False,Point-to-Point,,"Cash,Voucher",Alpine County Community Development,50 Diamond Valley Rd,Markleeville,CA,96120,
1,2,3660,,,,,,,,,...,False,,,,,,,,,
2,3,3749,1.00,,2.00,,,,,,...,True,Zone,"Senior,Student,Disabled","Cash,Prepaid Ticket,Monthly Pass,Multi-Agency",11400 American Legion Drive,,Jackson,CA - California,95642,
3,4,3772,,,,,,,,,...,False,,,"Cash,Voucher",,,,,,
4,5,3733,1.50,,,,,,,,...,True,Point-to-Point,"Senior,Disabled","Cash,Prepaid Ticket,Multi-Ride Ticket",401 S. Ventura Street,,Ojai,CA,93023,

'no data in OrganizationFundingSources'

'OrganizationGrantee'

Index(['Id', 'OrganizationId', 'Name', 'Address1', 'Address2', 'City', 'State',
       'Zipcode', 'ContactName', 'ContactTitle', 'Phone', 'Fax', 'Email',
       'OrganizationContactId', 'Same', 'GranteeContactId'],
      dtype='object')

,Id,OrganizationId,Name,Address1,Address2,City,State,Zipcode,ContactName,ContactTitle,Phone,Fax,Email,OrganizationContactId,Same,GranteeContactId
0,135,138,,,,,,,,,,,,,False,654
1,136,141,,,,,,,,,,,,,False,0

'OrganizationInventoryTypes'

Index(['Id', 'InventoryType'], dtype='object')

  Id InventoryType
0  1      Vehicles
1  2     Equipment

'OrganizationReportComponents'

Index(['OrganizationComponentId', 'ReportId', 'ReportComponentId', 'Completed',
       'ReviewComment', 'Sys_ModifiedUserId'],
      dtype='object')

,OrganizationComponentId,ReportId,ReportComponentId,Completed,ReviewComment,Sys_ModifiedUserId
0,1,1,1,False,,2810
1,2,2,1,False,,2810
2,3,3,1,False,,2810
3,4,3,2,False,,2810
4,5,4,1,False,,2810

'OrganizationReports'

Index(['ReportId', 'OrganizationId', 'Year', 'Type', 'Period', 'Status',
       'ReviewComment', 'Sys_ModifiedUserId', 'ReportProfileType',
       'CompositeKey', 'ContractId', 'AttestedVersion', 'ContractBudgetId'],
      dtype='object')

,ReportId,OrganizationId,Year,Type,Period,Status,ReviewComment,Sys_ModifiedUserId,ReportProfileType,CompositeKey,ContractId,AttestedVersion,ContractBudgetId
0,1,3663,2017,Annual,1,Not Submitted,,2810,TAM,5681,,,
1,2,3664,2017,Annual,1,Not Submitted,,2810,TAM,5682,,,
2,3,3670,2017,Annual,1,Not Submitted,,2810,TAM,5688,,,
3,4,3665,2017,Annual,1,Not Submitted,,2810,TAM,5683,,,
4,5,3671,2017,Annual,1,Not Submitted,,2810,TAM,5689,,,

'OrganizationReport_Comment'

Index(['Id', 'ReportId', 'Comment'], dtype='object')

  Id ReportId                                            Comment
0  1        6  As outlined by Cesley Nixon from CalDOT Distri...
1  2        6  As outlined by Cesley Nixon from CalDOT Distri...
2  3      169  Guadalupe uses the FTA UL model for the two di...
3  4      174  Starla Riddell, the City's Transit Coordinator...
4  5      222  Unable to upload doucuments (TAM Plan Mission ...

'Organizations'

Index(['Id', 'Name', 'Address1', 'Address2', 'City', 'State', 'Zipcode',
       'Phone', 'Fax', 'Acronym', 'WebsiteURL', 'Sys_ModifiedUserId',
       'EntityRecordId', 'OrganizationContactId', 'MPOId', 'ProgramType',
       'CountyImageWeb', 'CountyImageServer', 'RepUserId', 'County',
       'DistrictNumber', 'DUNSNumber', 'FederalId', 'Districts', 'Counties',
       'MailingAddress1', 'MailingAddress2', 'MailingCity', 'MailingZip',
       'MailingState', 'SecondaryOrganizationContactId', 'MainContactEmail',
       'AlternatePhone', 'LiscensePlate', 'VCUSTNumber', 'USDOTNumber',
       'GovernanceType', 'MPOJurisdiction', 'UrbanizedAreas',
       'UnionAffiliations', 'SenateDistrict', 'AssemblyDistrict',
       'CalTranDistrict', 'EmergnecyEvacuationPlan', 'ServiceProvider',
       'VendorNumber', 'AddressCode', 'LegalName', 'CommonName', 'ZipCode2',
       'Website', 'PrimaryContactId', 'PrimaryContactName',
       'PrimaryContactMainPhone', 'OrganizationType', 'NTDReportingId',
       'OrgType', 'RegisteredDBAName', 'RemittanceState', 'RemittanceAddress1',
       'RemittanceAddress2', 'RemittanceCity', 'RemittanceZipCode',
       'TransitRelatedEmployees', 'GTFS'],
      dtype='object')

,Id,Name,Address1,Address2,City,State,Zipcode,Phone,Fax,Acronym,...,NTDReportingId,OrgType,RegisteredDBAName,RemittanceState,RemittanceAddress1,RemittanceAddress2,RemittanceCity,RemittanceZipCode,TransitRelatedEmployees,GTFS
0,1,California Department of Transportation,,,,,,,,,...,,,,,,,,,,
1,3660,Bear River Band of Rohnerville Rancheria,264 Keisner Rd,,Loleta,CA,95551,(555) 555-5555,,,...,,,,,,,,,,
2,3661,City of Arcata,736 F Street,,Arcata,CA,95521,(707) 825-2170,(707) 825-2029,,...,,,COA,CA,736 F Street,,Arcata,95521,0 - 49,1
3,3662,Eureka Transit Service,133 V Street,,Eureka,CA,95501,(707) 443-09826,(707) 443-2032,,...,,,,CA,133 V Street,,Eureka,95501,,
4,3663,Humboldt Transit Authority,133 V St,"Eureka, CA 95501",Eureka,CA,95501,(707) 443-0826,(707) 443-2032,HTA,...,,,Redwood Transit System,CA,133 V Street,,Eureka,95501,50 - 99,1

'OrganizationServiceHours'

Index(['Id', 'OrganizationId', 'WeekDayStartTimeFixed', 'WeekDayEndTimeFixed',
       'WeekDayStartTimeDemand', 'WeekDayEndTimeDemand',
       'SaturdayStartTimeFixed', 'SaturdayEndTimeFixed',
       'SaturdayStartTimeDemand', 'SaturdayEndTimeDemand',
       'SundayStartTimeFixed', 'SundayEndTimeFixed', 'SundayStartTimeDemand',
       'SundayEndTimeDemand', 'Memo', 'OperationDays'],
      dtype='object')

,Id,OrganizationId,WeekDayStartTimeFixed,WeekDayEndTimeFixed,WeekDayStartTimeDemand,WeekDayEndTimeDemand,SaturdayStartTimeFixed,SaturdayEndTimeFixed,SaturdayStartTimeDemand,SaturdayEndTimeDemand,SundayStartTimeFixed,SundayEndTimeFixed,SundayStartTimeDemand,SundayEndTimeDemand,Memo,OperationDays
0,4,64,5:45AM,10:15PM,5:45AM,10:15PM,7:45AM,5:15PM,7:45AM,5:15PM,,,,,,
1,5,65,0700,0100,0600,2300,1100,0300,0600,1800,0900,0100,,,Fixed route service times vary by individual w...,
2,6,66,4:18AM,1:24AM,4:16AM,1:39AM,5:09AM,3:13AM,4:53AM,3:28AM,6:38AM,11:24PM,6:39AM,11:39PM,Latest time on Friday night/ Saturday morning ...,
3,7,67,5:30AM,6:42PM,6:00AM,6:00PM,,,6:00AM,6:00PM,,,,,Fixed Routes 2X New Richmond Express and 4X Am...,
4,8,68,6:00AM,6:00PM,6:00AM,6:00PM,6:00AM,6:00PM,6:00AM,6:00PM,,,,,,

'OrganizationSystem'

Index(['Id', 'OrganizationId', 'SystemType', 'SystemArea', 'AgencyType',
       'ServiceType', 'Comments', 'AgencyId'],
      dtype='object')

,Id,OrganizationId,SystemType,SystemArea,AgencyType,ServiceType,Comments,AgencyId
0,141,138,,,,Person's with Disabilities|Medicaid,,
1,142,141,,,,,,
2,143,3748,"2,4",Eastern half of Alpine County,Select One,6,,Alpine County Dial-A-Ride
3,144,3739,,San Bernardino Mountains,Select One,"1,6,7",,
4,145,3660,,,Select One,,,

'OrganizationSystemTypes'

Index(['Id', 'OrgTypeName', 'EntityRecordId'], dtype='object')

  Id                                     OrgTypeName EntityRecordId
0  1                                 Demand Response
1  2               Demand Response & Point Deviation
2  3                   Fixed Route & ADA Paratransit
3  4                   Fixed Route & Demand Response
4  5  Fixed Route, Demand Response & ADA Paratransit

'Organizations_Imported'

Index(['Org Type', 'Legal Name', 'AcronymDBA', 'ADDRESS', 'CITY', 'State',
       'ZIP', 'District', 'MPORTPA'],
      dtype='object')

,Org Type,Legal Name,AcronymDBA,ADDRESS,CITY,State,ZIP,District,MPORTPA
0,Transit Agency,Ability Counts,,775 Trademark Circle #101,Corona,CA,92879,8,3900
1,Transit Agency,AchieveKids,,3860 Middlefield Road\n,Palo Alto,CA,94303,4,3888
2,Transit Agency,"Age Well, Inc.",,"24300 EL Toro Rd., A-2000",Laguna Woods,CA,92653,12,3910
3,Transit Agency,AIDS Services Foundation,,"17982 Sky Park Circle, Ste. J",Irvine,CA,92614,12,3910
4,Transit Agency,Aldersly Garden Retirement Community,,326 Mission Avenue,San Rafael,CA,94901,4,3888

'Organizations_OLD_SAVE'

Index(['Id', 'Name', 'Address1', 'Address2', 'City', 'State', 'Zipcode',
       'Phone', 'Fax', 'Acronym', 'WebsiteURL', 'Sys_ModifiedUserId',
       'EntityRecordId', 'OrganizationContactId', 'MPOId', 'ProgramType',
       'CountyImageWeb', 'CountyImageServer', 'RepUserId', 'County',
       'DistrictNumber', 'DUNSNumber', 'FederalId', 'Districts', 'Counties',
       'MailingAddress1', 'MailingAddress2', 'MailingCity', 'MailingZip',
       'MailingState', 'SecondaryOrganizationContactId', 'MainContactEmail',
       'AlternatePhone', 'LiscensePlate', 'VCUSTNumber', 'USDOTNumber',
       'GovernanceType', 'MPOJurisdiction', 'UrbanizedAreas',
       'UnionAffiliations', 'SenateDistrict', 'AssemblyDistrict',
       'CalTranDistrict', 'EmergnecyEvacuationPlan', 'ServiceProvider',
       'VendorNumber', 'AddressCode', 'LegalName', 'CommonName', 'ZipCode2',
       'Website', 'PrimaryContactId', 'PrimaryContactName',
       'PrimaryContactMainPhone', 'OrganizationType', 'NTDReportingId',
       'OrgType'],
      dtype='object')

,Id,Name,Address1,Address2,City,State,Zipcode,Phone,Fax,Acronym,...,LegalName,CommonName,ZipCode2,Website,PrimaryContactId,PrimaryContactName,PrimaryContactMainPhone,OrganizationType,NTDReportingId,OrgType
0,144,Bear River Band of Rohnerville Rancheria,264 Keisner Rd,,Loleta,CA,95551,(555) 555-5555,,,...,,,,,,,,,,
1,145,City of Arcata,736 F Street,,Arcata,CA,95521,(707) 825-2170,(707) 825-2029,COA,...,,,,,,,,,,
2,146,City of Eureka,531 K St,,Eureka,CA,95501,(707) 441-4114,,,...,,,,,,,,,,
3,147,Humboldt Transit Authority,133 V St,"Eureka, CA 95501",Eureka,CA,95501,(707) 443-0826,(707) 443-2032,HTA,...,,,,,,,,,,
4,148,Lake Transit Authority,9240 Highway 53,,Lower Lake,CA,95457,(707) 263-7868,none,,...,,,,,,,,,,

'no data in Organization_Info_Import'

'no data in pl_ActivityLogType'

'pl_ACT_Codes'

Index(['ALI', 'F2', 'Description', 'F4', 'ACT'], dtype='object')

        ALI              F2             Description      F4   ACT
0  11.12.01  Bus - Purchase            Bus - 40 Ft.  111-01  75BA
1  11.12.02  Bus - Purchase            Bus - 35 Ft.  111-01  75BB
2  11.12.03  Bus - Purchase  Replacement 30 ft. bus  111-01  75BC
3  11.12.04  Bus - Purchase             <30 Ft. Bus  111-01  75BD
4  11.12.05  Bus - Purchase              School Bus  111-01  75BE

'no data in pl_AmendmentStatus'

'pl_ApplicationDocument_Type'

Index(['ID', 'Document_Type', 'Simple_Section_Name'], dtype='object')

  ID                              Document_Type    Simple_Section_Name
0  1            Important Application Documents            Application
1  2  Important Fiscal Responsibility Documents  Fiscal Responsibility
2  3           Important Civil Rights Documents           Civil Rights
3  4               Important Planning Documents               Planning
4  5      Important Safety & Security Documents      Safety & Security

'pl_BudgetCategoryTypes'

Index(['CategoryId', 'CategoryTypeName'], dtype='object')

  CategoryId CategoryTypeName
0          1          Expense
1          2          Revenue

'pl_CodeStripSACNumber'

Index(['Id', 'SAC_Number', 'sys_ModifiedUserId'], dtype='object')

  Id SAC_Number sys_ModifiedUserId
0  1       4EA5
1  2       4EB5
2  3       4EG5
3  4       4EK5
4  5       4EK7

'pl_Condition'

Index(['Id', 'Condition', 'Sys_UserModified', 'Sys_DateModified', 'Sequence'], dtype='object')

  Id  Condition Sys_UserModified Sys_DateModified Sequence
0  1  Excellent                                          1
1  2       Good                                          2
2  3   Adequate                                          3
3  4       Poor                                          5
4  6   Marginal                                          4

'pl_ContactTypes'

Index(['Id', 'Type'], dtype='object')

   Id                           Type
0   1                Primary Contact
1  10                    MPO Liaison
2  11        Owner of Vehicle Assets
3  12  Drug & Alcohol Representative
4  13         Attorney/Legal Counsel

'pl_ContractPaymentRequestStatus'

Index(['Id', 'Status', 'sys_ModifiedUserId'], dtype='object')

  Id         Status sys_ModifiedUserId
0  1  Not Submitted                  0
1  2      Submitted                  0
2  3       Returned                  0
3  4    Recommended                  0
4  5       Rejected                  0

'no data in pl_ContractType'

'no data in pl_ContractTypes'

'pl_DisposalEquipmentJustifications'

Index(['JustificationId', 'Description', 'Sequence'], dtype='object')

  JustificationId            Description Sequence
0               1    Exceeds Useful Life        1
1               2  Functionally Obsolete        2
2               3         No Longer Safe        3
3               4     Significant Damage        4

'pl_DisposalEquipmentMethods'

Index(['MethodId', 'Description', 'Sequence'], dtype='object')

  MethodId         Description Sequence
0        1     Proper Disposal        1
1        2  Sell the Equipment        2
2        3    Other (Describe)        3

'pl_DisposalFacilityJustifications'

Index(['JustificationId', 'Description', 'Sequence'], dtype='object')

  JustificationId                                        Description Sequence
0               1                                Exceeds Useful Life        1
1               2                              Functionally Obsolete        2
2               3                                     No Longer Safe        3
3               4  Repairs Considerably Exceed the Value of the F...        4
4               5                                 Significant Damage        5

'pl_DisposalFacilityMethods'

Index(['MethodId', 'Description', 'Sequence'], dtype='object')

  MethodId            Description Sequence
0        1  Demolish the Facility        1
1        2      Sell the Facility        2
2        3       Other (Describe)        3

'pl_DisposalMethods'

Index(['MethodId', 'Description', 'Sequence'], dtype='object')

  MethodId       Description Sequence
0        1  Sell the vehicle        1
1        2  Keep the vehicle        2
2        3  Other (Describe)        3

'pl_DisposalStatus'

Index(['StatusId', 'Name'], dtype='object')

  StatusId           Name
0        1  Not Submitted
1        2      Submitted
2        3    PM Accepted
3        4    PM Rejected
4        5    VM Rejected

'pl_DisposalVehicleJustifications'

Index(['JustificationId', 'Description', 'Sequence', 'Type'], dtype='object')

,JustificationId,Description,Sequence,Type
0,3,No longer safe to transport passengers,3,Disposition
1,5,Repairs considerably exceed the value of the v...,4,Disposition
2,6,Accident / Totaled,5,Disposition
3,7,Vehicle has been replaced,1,Transfer
4,8,Organization closing/consolidated/purchased,2,Transfer

'pl_DisposalVehicleMethods'

Index(['MethodId', 'Description', 'Sequence'], dtype='object')

  MethodId       Description Sequence
0        1  Sell the Vehicle        1
1        2  Keep the Vehicle        2
2        3  Other (Describe)        3

'pl_DispositionStatusTypes'

Index(['DispositionStatusId', 'Name'], dtype='object')

  DispositionStatusId            Name
0                   8  Admin Rejected
1                   5        Approved
2                   6   Not Submitted
3                   3   PC Recommends
4                   9     PM Accepted

'no data in pl_DistrictCounties'

'pl_DynamicField_Options'

Index(['Id', 'Option', 'Parameter', 'Sys_ModiifiedDate'], dtype='object')

  Id         Option Parameter      Sys_ModiifiedDate
0  1  Extended Text       500  11/4/2016 12:00:00 AM

'pl_DynamicField_Source'

Index(['Id', 'Soruce', 'Sys_ModiifiedDate'], dtype='object')

  Id    Soruce      Sys_ModiifiedDate
0  1  Contract  11/4/2016 12:00:00 AM

'pl_DynamicField_ValueTypes'

Index(['Id', 'ValueType', 'Sys_ModiifiedDate'], dtype='object')

  Id     ValueType      Sys_ModiifiedDate
0  1  Whole Number  11/4/2016 12:00:00 AM
1  2      Currency  11/4/2016 12:00:00 AM
2  3          Date  11/4/2016 12:00:00 AM
3  4       Decimal  11/4/2016 12:00:00 AM
4  5          Text  11/4/2016 12:00:00 AM

'pl_EntityTypes'

Index(['Id', 'Type', 'DefaultEntity', 'ParentEntityID', 'Sys_ModifiedUserId'], dtype='object')

  Id          Type DefaultEntity ParentEntityID Sys_ModifiedUserId
0  1  Organization          True                                 0
1  2       Project          True                                 0
2  3  Fund Request          True                                 0
3  4   Fund Source          True                                 0
4  5   Application          True                                 0

'pl_EquipmentClass'

Index(['ID', 'Name'], dtype='object')

  ID                                     Name
0  1  Service Vehicles (Non-Revenue Vehicles)
1  2        Fare Revenue Collection Equipment
2  3   Communications and Information Systems
3  4                                    Other

'pl_EquipmentClassification'

Index(['ID', 'Name'], dtype='object')

  ID                                    Name
0  1  Service Vehicle (Non-Revenue Vehicles)
1  2                       Capital Equipment

'pl_EquipmentConditionStatus'

Index(['ID', 'Status'], dtype='object')

  ID    Status
0  1    Active
1  2  Inactive
2  3     Spare

'pl_EquipmentStatus'

Index(['ID', 'Status', 'Selectable'], dtype='object')

  ID          Status Selectable
0  1          Active       True
1  2        Inactive       True
2  3           Spare       True
3  4         Deleted      False
4  5  Disposal Ready      False

'pl_EquipmentType'

Index(['ID', 'Name', 'UsefulLife_Years', 'AverageEstimatedServiceYearsNew',
       'EquipmentClassID'],
      dtype='object')

,ID,Name,UsefulLife_Years,AverageEstimatedServiceYearsNew,EquipmentClassID
0,1,Automobiles,8,8,1
1,2,Trucks and Other Rubber Tire Vehicles,12,14,1
2,3,Steel Wheel Vehicles,25,25,1
3,4,Fareboxes,10,,2
4,5,Communications Equipment (Non-Vehicle),10,,3

'pl_ExpenseReportStatus'

Index(['ExpenseReportStatusId', 'Name'], dtype='object')

  ExpenseReportStatusId           Name
0                     1  Not Submitted
1                     2      Submitted
2                     3   Rep Approved
3                     4   Rep Rejected
4                     5    PC Approved

'pl_FacilityMode'

Index(['ModeId', 'Mode', 'sys_CreatedUserId', 'sys_ModifiedUserId'], dtype='object')

,ModeId,Mode,sys_CreatedUserId,sys_ModifiedUserId
0,1,RMM - Transit Rail Mode/Ferry,0,0
1,2,RMM - Transit Rail Mode/Amtrak,0,0
2,3,RMM - Transit Rail Mode/Airport,0,0
3,4,RMM - Transit Rail Mode/Intercity Bus,0,0
4,5,AG - Automated Guideway,0,0

'pl_FacilityOwnershipType'

Index(['FacilityOwnershipTypeId', 'OwnershipType', 'sys_CreatedUserId',
       'sys_ModifiedUserId'],
      dtype='object')

,FacilityOwnershipTypeId,OwnershipType,sys_CreatedUserId,sys_ModifiedUserId
0,1,Owned by Service Provider,0,0
1,2,Owned by Public Agency for Service Provider,0,0
2,3,Leased by Public Agency for Service Provider,0,0
3,4,Leased by Service Provider,0,0

'pl_FacilityStatus'

Index(['FacilityStatusId', 'Status', 'sys_CreatedUserId',
       'sys_ModifiedUserId'],
      dtype='object')

  FacilityStatusId          Status sys_CreatedUserId sys_ModifiedUserId
0                1          Active                 0                  0
1                2        Inactive                 0                  0
2                3         Deleted                 0                  0
3                4        Disposed                 0                  0
4                5  Disposal Ready                 0                  0

'pl_FacilityTypeCategory'

Index(['FacilityTypeCategoryId', 'FacilityType', 'FacilityCategory',
       'sys_CreatedUserId', 'sys_ModifiedUserId'],
      dtype='object')

,FacilityTypeCategoryId,FacilityType,FacilityCategory,sys_CreatedUserId,sys_ModifiedUserId
0,1,Maintenance,Maintenance Facility (Service and Inspection),0,0
1,2,Maintenance,Heavy Maintenance and Overhaul (Backshop),0,0
2,3,Maintenance,General Purpose Maintenance Facility/Depot,0,0
3,4,Maintenance,Vehicle Washing Facility,0,0
4,5,Maintenance,Vehicle Blow-Down Facility,0,0

'pl_FacilityTypeUsefulLife'

Index(['Id', 'FacilityType', 'UsefulLife'], dtype='object')

  Id                FacilityType UsefulLife
0  1                 Maintenance         40
1  2              Administration         40
2  3          Passenger Facility         40
3  4  Passenger Parking Facility         40

'pl_FTACategory'

Index(['Id', 'FTACategory', 'UsefulLife_Years', 'UsefulLife_Miles',
       'UsefulLife_Rules', 'Sys_UserModified', 'Sys_DateModified'],
      dtype='object')

,Id,FTACategory,UsefulLife_Years,UsefulLife_Miles,UsefulLife_Rules,Sys_UserModified,Sys_DateModified
0,1,Heavy-Duty Large Bus,12,500000,OR,0,11/10/2017 10:35:29 AM
1,2,Heavy-Duty Small Bus,10,350000,OR,0,11/10/2017 10:35:29 AM
2,3,Medium-Duty Bus,7,200000,OR,0,11/10/2017 10:35:29 AM
3,4,Light-Duty Mid-Sized Bus,5,150000,OR,0,11/10/2017 10:35:29 AM
4,5,"Light-Duty Vans, Sedans or Buses",4,100000,OR,0,11/10/2017 10:35:29 AM

'pl_FuelType'

Index(['FuelTypeId', 'FuelType', 'sys_CreatedUserId', 'sys_ModifiedUserId'], dtype='object')

,FuelTypeId,FuelType,sys_CreatedUserId,sys_ModifiedUserId
0,1,D2 - No. 2 Grade Diesel Fuel (Std.),1073,1073
1,2,GA - Gasoline,1073,1073
2,3,CN - Compressed Natural Gas,1073,1073
3,4,HE - Hybrid Electric - Diesel,1073,1073
4,5,BD - Biodiesel,1073,1073

'pl_FuelType_BACKUP'

Index(['Id', 'FuelType', 'Sys_UserModified', 'Sys_DateModified'], dtype='object')

,Id,FuelType,Sys_UserModified,Sys_DateModified
0,1,D2 - No. 2 GRADE DIESEL FUEL (Std.),0,2/1/2016 10:01:13 PM
1,2,GA - GASOLINE,0,2/1/2016 10:01:38 PM
2,3,CN- Compressed Natural Gas,0,2/1/2016 10:01:50 PM
3,4,HE - HYBRID ELECTRIC - DIESEL,0,2/1/2016 10:05:37 PM
4,5,BD - BIODIESEL,0,2/1/2016 10:05:37 PM

'pl_FundRequestStatus'

Index(['Id', 'Title', 'EditRequest', 'EditAllocation'], dtype='object')

  Id          Title EditRequest EditAllocation
0  1  Not Submitted        True          False
1  2      Submitted       False          False
2  3       Approved       False          False
3  4       Rejected        True          False
4  5  Funds Planned       False           True

'pl_ImportantDocumentsCategory'

Index(['Id', 'CategoryName', 'Sequence'], dtype='object')

  Id                           CategoryName Sequence
0  2  Federal Certifications and Assurances        1
1  3                           Civil Rights        2
2  4                  Fiscal Responsibility        3
3  5                               Planning        5
4  6                    Safety and Security        6

'pl_ImportantDocumentsType'

Index(['Id', 'DocumentType', 'ValidityTerm', 'Expires', 'SecondaryAction',
       'SecondaryActionDescription', 'DocumentDownload', 'Sequence'],
      dtype='object')

,Id,DocumentType,ValidityTerm,Expires,SecondaryAction,SecondaryActionDescription,DocumentDownload,Sequence
0,1,Certifications and Assurances,Valid until Revised,False,False,,True,1
1,2,Title VI Plan,Valid for 3 Years,True,False,,False,1
2,3,Title VI Plan Acceptance Letter,Valid for 3 Years,True,False,,False,1.2
3,4,EEO Policy (Equal Employment Opportunity),Valid for 4 Years,True,False,,False,3
4,5,ADA Plan (Americans with Disabilities Act),Valid until Revised,False,False,,False,4

'pl_InventoryType'

Index(['InventoryTypeId', 'Name', 'sys_CreatedUserId', 'sys_ModifiedUserId'], dtype='object')

  InventoryTypeId              Name sys_CreatedUserId sys_ModifiedUserId
0               1  Revenue Vehicles                 0                  0
1               2        Facilities                 0                  0
2               3         Equipment                 0                  0

'no data in pl_InventoryVehicle_LiftType'

'no data in pl_InventoryVehicle_RampType'

'no data in pl_LiftType'

'pl_Modes'

Index(['Id', 'Mode'], dtype='object')

  Id                    Mode
0  3  Bus (MB) (Fixed Route)
1  4  Bus Rapid Transit (RB)
2  5          Cable Car (CC)
3  6       Commuter Bus (CB)
4  7      Commuter Rail (CR)

'pl_Municipalities'

Index(['Id', 'Municipality'], dtype='object')

  Id  Municipality
0  1      Adelanto
1  2  Agoura Hills
2  3       Alameda
3  4        Albany
4  5      Alhambra

'pl_OpportunityStatusTypes'

Index(['OpportunityStatusId', 'Name'], dtype='object')

  OpportunityStatusId           Name
0                   6       Approved
1                   7       Assigned
2                   3       Complete
3                   4   Not Complete
4                   1  Not Submitted

'pl_OrganizationServiceType'

Index(['Id', 'ServiceType', 'Sys_UserModified'], dtype='object')

  Id           ServiceType Sys_UserModified
0  1           Fixed Route              481
1  2  Deviated Fixed Route              481
2  4   Blended Paratransit              481
3  5       ADA Paratransit              481
4  6       Demand Response              481

'pl_Organization_Agency_Type'

Index(['Id', 'AgencyType', 'Sys_UserModified'], dtype='object')

  Id                                         AgencyType Sys_UserModified
0  1  Independent Public Agency or Authority of Tran...                0
1  2  Subsidiary Unit of a Transit Agency, Reporting...                0
2  3  City, County or Local Government Unit or Depar...                0
3  4  State Government Unit or Department of Transpo...                0
4  5                                         University                0

'pl_OrgType'

Index(['ID', 'OrgType'], dtype='object')

  ID                         OrgType
0  1                           State
1  2  RTPO/MPO/Other Planning Parent
2  3                  Transit Agency

'pl_PerformanceMeasuresConditionId'

Index(['Id', 'ConditionName'], dtype='object')

  Id ConditionName
0  1          Poor
1  2      Marginal
2  3      Adequate
3  4          Good
4  5     Excellent

'pl_PerformanceMeasuresOrgStatus'

Index(['Id', 'Status'], dtype='object')

  Id         Status
0  1  Not Submitted
1  2      Submitted
2  3       Rejected
3  4       Approved

'no data in pl_PerformanceMeasuresPeriods'

'no data in pl_PerformanceMeasuresPeriodTypes'

'pl_PerformanceMeasuresStatus'

Index(['Id', 'Status'], dtype='object')

  Id          Status
0  1  In-Development
1  2            Open
2  3          Closed

'pl_PerformanceMeasuresTypes'

Index(['Id', 'Type'], dtype='object')

  Id                      Type
0  1  Transit Asset Management

'pl_PickListItems'

Index(['Id', 'PicklistTypeId', 'Title', 'Description', 'Sequence'], dtype='object')

  Id PicklistTypeId     Title Description Sequence
0  1              1     State                    1
1  2              1  District                    2
2  3              1    Agency                    3
3  4              1   Project                    4
4  5              2   Textbox                    1

'no data in pl_PicklistTypes'

'pl_ProgramRegion'

Index(['Id', 'Region'], dtype='object')

  Id       Region
0  1        North
1  2        South
2  3  Albuquerque
3  4     Santa Fe

'pl_ProjectStatus'

Index(['Id', 'Title'], dtype='object')

  Id           Title
0  1  In Development
1  2            Open
2  3          Closed
3  4        Reopened

'pl_QReportTabs'

Index(['id', 'tabtitle', 'quarter', 'DistrictID'], dtype='object')

  id         tabtitle quarter DistrictID
0  1  Jul-Sep (FY Q1)       1          4
1  2  Oct-Dec (FY Q2)       2          4
2  3  Jan-Mar (FY Q3)       3          4
3  4  Apr-Jun (FY Q4)       4          4
4  5     Final Report       5          4

'no data in pl_RampType'

'pl_ReportingProfileTypes'

Index(['ReportProfileTypeId', 'Name'], dtype='object')

  ReportProfileTypeId                             Name
0                   7  5310 Biannual Vehicle Reporting
1                  15                 Annual Reporting
2                   6                NTD Annual Report
3                  13                              TAM

'pl_SAC'

Index(['Id', 'SAC'], dtype='object')

  Id   SAC
0  1  4EA5
1  2  4EB5
2  3  4EG5
3  4  4EK5
4  5  4EK7

'pl_ServerTimeZones'

Index(['Id', 'TimeZone', 'Difference'], dtype='object')

  Id TimeZone Difference
0  1      EST          0
1  2      CST         -1
2  3      MST         -2
3  4      PST         -3
4  5     AKST         -4

'pl_ServiceArea'

Index(['Id', 'ServiceArea'], dtype='object')

  Id                      ServiceArea
0  1        County / Independent City
1  2  Multi-county / Independent City
2  3                      Multi-state
3  4                     Municipality
4  5                      Reservation

'pl_ServiceInfo_ModeAssociation'

Index(['Id', 'ModeAssociation'], dtype='object')

  Id                ModeAssociation
0  1         DO - Directly Operated
1  2  PT - Purchased Transportation

'pl_States'

Index(['ID', 'code', 'name'], dtype='object')

  ID code        name
0  1   AK      Alaska
1  2   AL     Alabama
2  3   AR    Arkansas
3  4   AZ     Arizona
4  5   CA  California

'pl_Status'

Index(['Id', 'Title'], dtype='object')

   Id     Title
0  -1   Deleted
1   0  InActive
2   1    Active
3   2  Archived
4   3   Pending

'pl_UnionNames'

Index(['Id', 'UnionName'], dtype='object')

           Id                                          UnionName
0  AFS         American Federation of State, County and Munic...
1  APE                     Association of Professional Engineers
2  ATU                                   Amalgated Transit Union
3  BLE                       Brotherhood of Locomotive Engineers
4  CCA                Central CA Association of Public Employees

'pl_UrbanizedAreas'

Index(['Id', 'Population', 'UrbanizedArea'], dtype='object')

  Id Population                   UrbanizedArea
0  1   12150996  Los Angeles-Long Beach-Anaheim
1  2    3281212           San Francisco-Oakland
2  3    2956746                       San Diego
3  4    1932666        Riverside-San Bernardino
4  5    1723634                      Sacramento

'pl_UserPrefix'

Index(['Id', 'Title', 'Sequence'], dtype='object')

  Id Title Sequence
0  1   Mr.        1
1  2   Ms.        2

'pl_VehicleChassis'

Index(['ChassisId', 'Name', 'sys_CreatedUserId', 'sys_ModifiedUserId'], dtype='object')

  ChassisId                 Name sys_CreatedUserId sys_ModifiedUserId
0         1    Chrysler Entervan              1073               1073
1         2  Dodge Grand Caravan              1073               1073
2         3                  F35              1073               1073
3         4           Ford E-350              1073               1073
4         5           Ford E-450              1073               1073

'pl_VehicleClass'

Index(['ClassId', 'Name'], dtype='object')

  ClassId             Name
0       1    Class A Small
1       2   Class B Medium
2       3    Class C Large
3       4  Class D Minivan
4       5   Class E Larger

'pl_VehicleCodes'

Index(['Id', 'Code', 'Description'], dtype='object')

  Id    Code              Description
0  1      AO               Automobile
1  2  B30-HD   Bus 30-Foot Heavy Duty
2  3  B30-LD   Bus 30-Foot Light Duty
3  4  B30-MD  Bus 30-Foot Medium Duty
4  5  B35-HD   Bus 35-Foot Heavy Duty

'pl_VehicleConditionRating'

Index(['ConditionRatingId', 'Rating', 'sys_CreatedUserId',
       'sys_ModifiedUserId'],
      dtype='object')

  ConditionRatingId     Rating sys_CreatedUserId sys_ModifiedUserId
0                 1  Excellent              1073               1073
1                 2       Good              1073               1073
2                 3   Adequate              1073               1073
3                 4   Marginal              1073               1073
4                 5       Poor              1073               1073

'pl_VehicleContractType'

Index(['VehicleContractTypeId', 'VehicleContractType'], dtype='object')

  VehicleContractTypeId VehicleContractType
0                     1         CalACT/MBTA
1                     2               State
2                     3              Agency
3                     4           Piggyback
4                     5               Other

'pl_VehicleFuelTypes'

Index(['FuelID', 'FuelType'], dtype='object')

       FuelID                      FuelType
0  BF                      BF - Bunker Fuel
1  CN           CN - Compressed Natural Gas
2  DF                           DF - Diesel
3  DP          DP - Diesel Particulate Trap
4  DU                DU - Dual Fuel Sources

'pl_VehicleFundingSource'

Index(['FundingSourceId', 'Name', 'sys_CreatedUserId', 'sys_ModifiedUserId'], dtype='object')

,FundingSourceId,Name,sys_CreatedUserId,sys_ModifiedUserId
0,1,UA - Urbanized Area Formula Program,1073,1073
1,2,OF - Other Federal Funds,1073,1073
2,3,NFPA - Non-Federal Public Funds,1073,1073
3,4,NFPE - Non-Federal Private Funds,1073,1073
4,5,RAFP - Rural Area Formula Program,1073,1073

'pl_VehicleImprovementType'

Index(['ImprovementTypeId', 'Improvement', 'sys_CreatedUserId',
       'sys_ModifiedUserId'],
      dtype='object')

  ImprovementTypeId      Improvement sys_CreatedUserId sys_ModifiedUserId
0                 1  Expansion (New)              1073               1073
1                 2      Replacement              1073               1073
2                 3            Rehab              1073               1073
3                 4         Borrowed              1073               1073
4                 5           Leased              1073               1073

'pl_VehicleManufacturer'

Index(['VehicleManufacturerId', 'Name', 'sys_CreatedUserId',
       'sys_ModifiedUserId'],
      dtype='object')

,VehicleManufacturerId,Name,sys_CreatedUserId,sys_ModifiedUserId
0,1,AAI/Skoda,1073,1073
1,2,Advanced Bus Industries,1073,1073
2,3,AEG Transportation Systems,1073,1073
3,4,Alexander Dennis,1073,1073
4,5,Alstom Transport,1073,1073

'pl_VehicleManufacturers'

Index(['ManufacturerID', 'ManufacturerName'], dtype='object')

  ManufacturerID              ManufacturerName
0              1                     AAI/Skoda
1              2       Advanced Bus Industries
2              3              Alexander Dennis
3              4  American Honda Motor Company
4              5      American MAN Corporation

'pl_VehicleMode'

Index(['ModeId', 'Mode', 'sys_CreatedUserId', 'sys_ModifiedUserId'], dtype='object')

  ModeId                     Mode sys_CreatedUserId sys_ModifiedUserId
0      1  AG - Automated Guideway              1073               1073
1      2    AR - Alaska Railroad               1073               1073
2      3        CB - Commuter Bus              1073               1073
3      4           CC - Cable Car              1073               1073
4      5       CR - Commuter Rail              1073               1073

'pl_VehicleModels'

Index(['ModelId', 'Model', 'sys_CreatedUserId', 'sys_ModifiedUserId'], dtype='object')

  ModelId         Model sys_CreatedUserId sys_ModifiedUserId
0     366         E-150                 0                  0
1     367           500                 0                  0
2     368          3500                 0                  0
3     369  Aerolite 210                 0                  0
4     370      Aerotech                 0                  0

'pl_VehicleOtherMode'

Index(['ModeId', 'Mode', 'sys_CreatedUserId', 'sys_ModifiedUserId'], dtype='object')

  ModeId                     Mode sys_CreatedUserId sys_ModifiedUserId
0      1  AG - Automated Guideway              1073               1073
1      2    AR - Alaska Railroad               1073               1073
2      3        CB - Commuter Bus              1073               1073
3      4           CC - Cable Car              1073               1073
4      5       CR - Commuter Rail              1073               1073

'pl_VehicleOtherTOS'

Index(['TOSId', 'TOS', 'sys_CreatedUserId', 'sys_ModifiedUserId'], dtype='object')

  TOSId                            TOS sys_CreatedUserId sys_ModifiedUserId
0     1         DO - Directly Operated              1073               1073
1     2  PT - Purchased Transportation              1073               1073

'pl_VehicleOwnershipType'

Index(['OwnershipTypeId', 'Name', 'sys_CreatedUserId', 'sys_ModifiedUserId'], dtype='object')

,OwnershipTypeId,Name,sys_CreatedUserId,sys_ModifiedUserId
0,1,Leased or borrowed from related parties by a p...,1073,1073
1,2,Leased or borrowed from related parties by a p...,1073,1073
2,3,Leased under lease purchase agreement by a pub...,1073,1073
3,4,Leased under lease purchase agreement by a pri...,1073,1073
4,5,Owned outright by private entity (OOPE),1073,1073

'pl_VehicleRampLiftManufacturer'

Index(['VehicleRampLiftManufacturerId', 'Name', 'sys_CreatedUserId',
       'sys_ModifiedUserId'],
      dtype='object')

  VehicleRampLiftManufacturerId   Name sys_CreatedUserId sys_ModifiedUserId
0                             1  Braun              1073               1073
1                             2  Ricon              1073               1073

'pl_VehicleRenewalType'

Index(['RenewalTypeId', 'Type', 'sys_CreatedUserId', 'sys_ModifiedUserId'], dtype='object')

  RenewalTypeId                     Type sys_CreatedUserId sys_ModifiedUserId
0             1     Mid-Life Power Train              1073               1073
1             2        Mid-Life Overhaul              1073               1073
2             3  Life-Extending Overhaul              1073               1073

'pl_VehicleStatus'

Index(['Id', 'VehicleStatus', 'Sys_UserModified', 'Selectable'], dtype='object')

  Id    VehicleStatus Sys_UserModified Selectable
0  1           Active              481       True
1  2         Inactive              481       True
2  3         Archived              481      False
3  4  Pending Removal              481      False
4  5            Spare              481       True

'pl_VehicleType'

Index(['VehicleTypeId', 'Name', 'AverageEstimatedServiceYearsNew',
       'sys_CreatedUserId', 'sys_ModifiedUserId'],
      dtype='object')

,VehicleTypeId,Name,AverageEstimatedServiceYearsNew,sys_CreatedUserId,sys_ModifiedUserId
0,1,AB - Articulated Bus,14,1073,1073
1,2,AG - Automated Guideway Vehicle,31,1073,1073
2,3,AO - Automobile,8,1073,1073
3,4,BR - Over-the-Road Bus,14,1073,1073
4,5,BU - Bus,14,1073,1073

'pl_VehicleUseCodes'

Index(['UseID', 'VehicleUseDescription'], dtype='object')

  UseID VehicleUseDescription
0   ADA       ADA Paratransit
1    BP   Blended Paratransit
2    CS       Charter Service
3   DFR  Deviated Fixed Route
4    DR       Demand Response

'pl_Vehicle_Status'

Index(['ID', 'Status'], dtype='object')

  ID    Status
0  1    Active
1  2  InActive
2  3     Spare
3  4    Backup
4  5  Archived

'no data in Process_Workflow'

'ProjectTaskBudgetLines'

Index(['BudgetLineId', 'TaskId', 'LineId', 'Value', 'Sys_ModifiedUserID'], dtype='object')

  BudgetLineId TaskId LineId   Value Sys_ModifiedUserID
0            1    941     19   40000                  0
1            2    942      1  100000                  0
2            3    942      2                          0
3            4    942      3                          0
4            5    942      4                          0

'ProjectTaskBudgetLinesExtended'

Index(['Id', 'TaskId', 'Type', 'Title', 'Amount', 'Sys_ModifiedUserID'], dtype='object')

  Id TaskId Type    Title  Amount Sys_ModifiedUserID
0  1    991  LCL  Test 13  343.00                  0
1  2    991  LCL   Test 2   33.00                  0
2  3    991  LCL                                   0
3  4    991  TRC             2.00                  0
4  5   1008  LCL           800.00                  0

'ReportingComponents'

Index(['ReportingComponentId', 'Name', 'Path', 'Periods', 'GroupIdToNotify',
       'Description', 'Sys_ModifiedUserId', 'Code'],
      dtype='object')

,ReportingComponentId,Name,Path,Periods,GroupIdToNotify,Description,Sys_ModifiedUserId,Code
0,1,Revenue Vehicle,/TAM/VehicleReportForm.aspx,1,,TAM Performance Measures - Vehicles,0,cmp2
1,2,Facilities,/TAM/FacilitiesReportForm.aspx,1,,TAM Performance Measures - Facilities,0,cmp2
2,4,Equipment,/TAM/EquipmentReportForm.aspx,1,,TAM Performance Measures - Equipment,0,cmp2
3,15,NTD Annual Report - Rural,/NTD/Rural.aspx,1,,NTD Annual Report - Rural Component,0,cmp1
4,16,NTD Annual Report - Intercity,/NTD/Intercity.aspx,1,,NTD Annual Report - Intercity Bus Component,0,cmp1

'no data in Reporting_5310Ridership_DataElements'

'no data in Reporting_5310Ridership_DataValues'

'Reporting_5310Ridership_Report'

Index(['ReportId', 'OrganizationId', 'OrganizationReportId', 'ComponentId',
       'VehicleId', 'VehicleYear', 'VehicleManufacturer', 'VehicleModel',
       'VehicleVIN', 'VehicleLicensePlate', 'InsuranceCompany', 'PolicyNumber',
       'PolicyExpDate', 'BeginningMileage', 'EndingMileage',
       'EndingMileageDate', 'RepairMaintenance', 'ExplanationOfExtCosts',
       'CurrentCondition', 'ExplanationOfCondition', 'InvolvedInAccident',
       'AccidentInThisQuarter', 'DetailsOfAccident', 'Sys_CreatedUserId',
       'Sys_ModifiedUserId', 'HoursInService', 'DaysInService',
       'NarrativeBelow20', 'VehicleOutOfService', 'VehicleOutOfServiceDetails',
       'RecentCHPDate'],
      dtype='object')

,ReportId,OrganizationId,OrganizationReportId,ComponentId,VehicleId,VehicleYear,VehicleManufacturer,VehicleModel,VehicleVIN,VehicleLicensePlate,...,AccidentInThisQuarter,DetailsOfAccident,Sys_CreatedUserId,Sys_ModifiedUserId,HoursInService,DaysInService,NarrativeBelow20,VehicleOutOfService,VehicleOutOfServiceDetails,RecentCHPDate
0,1,3749,242,290,13629,2017,Dodge Division - Chrysler Corporation,Grand Caravan,2C7WDGBG5GR372437,1524347,...,False,,2299,2299,,,,,,
1,2,3749,242,291,13777,2013,Chevrolet Motor Division - GMC,Glaval,1GB6G5BL2D1113415,1406969,...,False,,2299,2299,,,,,,
2,3,3749,242,292,13833,2013,Chevrolet Motor Division - GMC,Glaval,1GB6G5BL0D1113431,1406971,...,False,,2299,2299,,,,,,
3,4,3749,242,293,13835,2013,Chevrolet Motor Division - GMC,Glaval,1GB6G5BL3D1112385,1406970,...,False,,2299,2299,,,,,,
4,5,3749,242,294,13837,2013,Chevrolet Motor Division - GMC,Glaval,1GB6G5BL8D1114035,1391937,...,False,,2299,2299,,,,,,

'no data in Reporting_Budgets'

'no data in Reporting_Budget_TaskLines'

'no data in Reporting_DBE_FuelVendors'

'no data in Reporting_DBE_InsuranceVendors'

'no data in Reporting_DBE_MaintenanceVendors'

'no data in Reporting_DBE_StorageVendors'

'Reporting_NTDAnnual_Facilities'

Index(['Id', 'ReportId', 'FacilityId', 'OrganizationId', 'Organization',
       'GroupPlan', 'FacilityName', 'SectionOfLargerFacility', 'StreetAddress',
       'City', 'State', 'ZipCode', 'PrimaryModeServed',
       'FacilityTypeCategoryId', 'FacilityTypeCategory',
       'OtherFacilityCategory', 'YearBuilt', 'YearReconstructed',
       'UnitSpaceSize', 'UnitSpaceType', 'OwnershipType',
       'DOTCapitalResponsibility', 'OrganizationCapitalResponsibility',
       'EstimatedConditionAssessment', 'CurrentCondition', 'DateOfAssessment',
       'Sys_ModifiedUserId'],
      dtype='object')

,Id,ReportId,FacilityId,OrganizationId,Organization,GroupPlan,FacilityName,SectionOfLargerFacility,StreetAddress,City,...,YearReconstructed,UnitSpaceSize,UnitSpaceType,OwnershipType,DOTCapitalResponsibility,OrganizationCapitalResponsibility,EstimatedConditionAssessment,CurrentCondition,DateOfAssessment,Sys_ModifiedUserId
0,1,4,1,3670,,,Lassen Rural Bus Office and Maintenance Bay,,701980 Johnstonville Road,Susanville,...,2001,6110,Square Feet,Owned by Public Agency for Service Provider,,,,4.2,8/31/2018 12:00:00 AM,2630
1,2,4,2,3670,,,Bus Wash Facility,,701980 Johnstonville Road,Susanville,...,,2000,Square Feet,Owned by Public Agency for Service Provider,,,,4.2,8/31/2018 12:00:00 AM,2630
2,3,9,45,3678,,,Colusa County Transit Agency,False,715 D Street,Colusa,...,,3848,Square Feet,,,,,,,2692
3,4,11,33,3738,,,JT Admin & Maintenance Facility,False,62405 verbena road,Joshua Tree,...,,7574,Square Feet,Owned by Service Provider,,,,4.0,9/20/2018 12:00:00 AM,2049
4,5,11,34,3738,,,Yucca Valley Transit Center,False,57430 Yucca Trail,Yucca Valley,...,,72000,Square Feet,Owned by Service Provider,,,,4.0,9/20/2018 12:00:00 AM,2049

'Reporting_NTDAnnual_Intercity'

Index(['ReportId', 'OrganizationId', 'OrganizationReportId',
       'Organization_LegalName', 'Organization_CommonName',
       'Organization_Address1', 'Organization_Address2', 'Organization_City',
       'Organization_State', 'Organization_ZipCode', 'Organization_Website',
       'Organization_County', 'Organization_AgencyType',
       'Organization_DUNSNumber', 'Organization_NTDReportingId',
       'Organization_MainContactName', 'Organization_MainPhoneNumber',
       'FTARuralAreaFormulaFunds_Operating',
       'FTARuralAreaFormulaFunds_Capital',
       'ARRARuralAreaFormulaFunds_Operating',
       'ARRARuralAreaFormulaFunds_Capital', 'VRM', 'UPT',
       'Sys_ModifiedUserId'],
      dtype='object')

,ReportId,OrganizationId,OrganizationReportId,Organization_LegalName,Organization_CommonName,Organization_Address1,Organization_Address2,Organization_City,Organization_State,Organization_ZipCode,...,Organization_NTDReportingId,Organization_MainContactName,Organization_MainPhoneNumber,FTARuralAreaFormulaFunds_Operating,FTARuralAreaFormulaFunds_Capital,ARRARuralAreaFormulaFunds_Operating,ARRARuralAreaFormulaFunds_Capital,VRM,UPT,Sys_ModifiedUserId
0,1,3734,249,County of Los Angeles - Department of Public W...,,900 S Fremont Ave,,Alhambra,CA,91803,...,,Jordan Catanese,(626) 458-3964,,,,,,,2053
1,2,3748,252,Alpine County Community Development,,50 Diamond Valley Road,,Markleeville,CA,96120,...,,Brian Peters,(530) 694-1361,0.0000,,,,,,1974
2,3,3687,251,Yolo County Transportation District,YCTD,350 Industrial Way,,Woodland,CA,95776,...,,Jose Perez,(530) 402-2826,,,,,,,2014
3,4,3721,254,City of Porterville,,291 N Main St,,Porterville,CA,93257,...,,Richard Tree,(559) 782-7448,0.0000,0.0000,0.0000,0.0000,0,0,2079
4,5,3706,256,City of Solvang,,1644 Oak Street,,Solvang,CA,93463,...,,Xenia Bradford,(805) 688-5575,,,,,,,2929

'Reporting_NTDAnnual_Modes'

Index(['Id', 'ReportId', 'Mode', 'TypeOfService', 'CommitmentDate',
       'StartDate', 'EndDate', 'OperatingExpenses', 'CapitalExpenses',
       'DirectlyGenerated_FareRevenues_Operating',
       'DirectlyGenerated_FareRevenues_Capital', 'VRM', 'VRH', 'Total_UPT',
       'Sponsored_UPT', 'VOMS', 'Sys_ModifiedUserId',
       'DirectlyGenerated_FareRevenues_Operating_OrgPaidFares',
       'DirectlyGenerated_FareRevenues_Capital_OrgPaidFares'],
      dtype='object')

,Id,ReportId,Mode,TypeOfService,CommitmentDate,StartDate,EndDate,OperatingExpenses,CapitalExpenses,DirectlyGenerated_FareRevenues_Operating,DirectlyGenerated_FareRevenues_Capital,VRM,VRH,Total_UPT,Sponsored_UPT,VOMS,Sys_ModifiedUserId,DirectlyGenerated_FareRevenues_Operating_OrgPaidFares,DirectlyGenerated_FareRevenues_Capital_OrgPaidFares
0,1,1,Bus (MB) (Fixed Route),,,,,0.0000,0.0000,0.0000,0.0000,0,0,0,0,0,2053,0.0000,0.0000
1,2,2,Bus (MB) (Fixed Route),,,,,2344937.0000,543950.0000,199691.0000,0.0000,303195,16117,204795,0,7,2701,0.0000,0.0000
2,3,2,Demand Response (DR),,,,,1260150.0000,235871.0000,99070.0000,0.0000,137862,13445,34345,0,10,2701,0.0000,0.0000
3,4,3,Demand Response (DR),1,,,,88781.0000,0.0000,1063.0000,0.0000,21472,973,654,483,2,1974,11371.0000,0.0000
4,5,4,Bus (MB) (Fixed Route),2,,,,220422.0000,17769.0000,25538.0000,0.0000,51914,3379,44692,0,1,2630,17140.0000,0.0000

'Reporting_NTDAnnual_Rural'

Index(['ReportId', 'OrganizationId', 'OrganizationReportId',
       'Organization_LegalName', 'Organization_CommonName',
       'Organization_Address1', 'Organization_Address2', 'Organization_City',
       'Organization_State', 'Organization_ZipCode', 'Organization_Website',
       'Organization_County', 'Organization_AgencyType',
       'Organization_DUNSNumber', 'Organization_NTDReportingId',
       'Organization_MainContactName', 'Organization_MainPhoneNumber',
       'OtherDirectlyGeneratedFunds_Operating',
       'OtherDirectlyGeneratedFunds_Operating_Description',
       'OtherDirectlyGeneratedFunds_Capital',
       'OtherDirectlyGeneratedFunds_Capital_Description',
       'Donations_Operating', 'Donations_Capital',
       'ContractRevenues_Operating', 'ContractRevenues_Capital',
       'Local_Operating', 'Local_Capital', 'State_Operating', 'State_Capital',
       'Other_Operating', 'Other_Capital', 'FTACapitalProgramFunds_Operating',
       'FTACapitalProgramFunds_Capital',
       'ARRAMajorCapitalInvestment_Operating',
       'ARRAMajorCapitalInvestment_Capital', 'FTAEnhancedMobility_Operating',
       'FTAEnhancedMobility_Capital',
       '5310CapitalAssistanceSpentOnOperations_Operating',
       '5310CapitalAssistanceSpentOnOperations_Capital',
       'FTARuralAreaFormulaFunds_Operating',
       'FTARuralAreaFormulaFunds_Capital',
       '5311CapitalAssistanceSpentOnOperations_Operating',
       '5311CapitalAssistanceSpentOnOperations_Capital',
       'ARRARuralAreaFormulaFunds_Operating',
       'ARRARuralAreaFormulaFunds_Capital',
       'FTAARRARuralAreaProgramFunds_Operating',
       'FTAARRARuralAreaProgramFunds_Capital',
       'FTATribalTransitFunds_Operating', 'FTATribalTransitFunds_Capital',
       'ARRATribalTransitFunds_Operating', 'ARRATribalTransitFunds_Capital',
       'FTAJobAccessFunds_Operating', 'FTAJobAccessFunds_Capital',
       'FTANewFreedomFunds_Operating', 'FTANewFreedomFunds_Capital',
       'FTATransitInThePark_Operating', 'FTATransitInThePark_Capital',
       'FTABusAndBusFacilities_Operating', 'FTABusAndBusFacilities_Capital',
       'ARRATIGGER_Operating', 'ARRATIGGER_Capital', 'OtherFTAFunds_Operating',
       'OtherFTAFunds_Operating_Description', 'OtherFTAFunds_Capital',
       'OtherFTAFunds_Capital_Description',
       'OtherFTAFunds_CapitalAssistanceSpentOnOperations_Operating',
       'OtherFTAFunds_CapitalAssistanceSpentOnOperations_Capital',
       'OtherUSDOTFunds_Operating', 'OtherUSDOTFunds_Operating_Description',
       'OtherUSDOTFunds_Capital', 'OtherUSDOTFunds_Capital_Description',
       'OtherFederalFunds_Operating',
       'OtherFederalFunds_Operating_Description', 'OtherFederalFunds_Capital',
       'OtherFederalFunds_Capital_Description', 'ReportableIncidents',
       'Fatalities', 'Injuries', 'NumberOfVolunteerDrivers',
       'NumberOfPersonalVehiclesInService', 'Sys_ModifiedUserId',
       'WithNTD_Operating', 'WithNonNTD_Operating', 'WithNTD_Capital',
       'WithNonNTD_Capital', 'CapitalAssistance_Operating',
       'CapitalAssistance_Capital', 'StateGoodRepair_Operating',
       'StateGoodRepair_Capital'],
      dtype='object')

,ReportId,OrganizationId,OrganizationReportId,Organization_LegalName,Organization_CommonName,Organization_Address1,Organization_Address2,Organization_City,Organization_State,Organization_ZipCode,...,NumberOfPersonalVehiclesInService,Sys_ModifiedUserId,WithNTD_Operating,WithNonNTD_Operating,WithNTD_Capital,WithNonNTD_Capital,CapitalAssistance_Operating,CapitalAssistance_Capital,StateGoodRepair_Operating,StateGoodRepair_Capital
0,1,3734,249,,,900 S Fremont Ave,,Alhambra,CA,,...,,2053,,,,,,,,
1,2,3679,253,,,950 Maidu Avenue,,Nevada City,CA,,...,0,2701,0.0000,,,,,,,
2,3,3748,252,,,50 Diamond Valley Road,,Markleeville,CA,,...,0,1974,,,,,,,,
3,4,3670,257,,,707 Nevada Street,,Susanville,CA,,...,0,2630,,,,,,,,
4,5,3687,251,,,350 Industrial Way,,Woodland,CA,,...,,2014,,,,,,,,

'Reporting_NTDAnnual_UrbanTribal'

Index(['ReportId', 'OrganizationId', 'OrganizationReportId',
       'Organization_LegalName', 'Organization_CommonName',
       'Organization_Address1', 'Organization_Address2', 'Organization_City',
       'Organization_State', 'Organization_ZipCode', 'Organization_Website',
       'Organization_County', 'Organization_AgencyType',
       'Organization_DUNSNumber', 'Organization_NTDReportingId',
       'Organization_MainContactName', 'Organization_MainPhoneNumber',
       'FTARuralAreaFormulaFunds_Operating',
       'FTARuralAreaFormulaFunds_Capital',
       'CapitalAssistanceSpentOnOperations_Operating',
       'CapitalAssistanceSpentOnOperations_Capital',
       'ARRARuralAreaFormulaFunds_Operating',
       'ARRARuralAreaFormulaFunds_Capital',
       'CapitalAssistanceSpentOnOpsARRARuralAreaFormulaFunds_Operating',
       'CapitalAssistanceSpentOnOpsARRARuralAreaFormulaFunds_Capital',
       'Sys_ModifiedUserId'],
      dtype='object')

,ReportId,OrganizationId,OrganizationReportId,Organization_LegalName,Organization_CommonName,Organization_Address1,Organization_Address2,Organization_City,Organization_State,Organization_ZipCode,...,Organization_MainPhoneNumber,FTARuralAreaFormulaFunds_Operating,FTARuralAreaFormulaFunds_Capital,CapitalAssistanceSpentOnOperations_Operating,CapitalAssistanceSpentOnOperations_Capital,ARRARuralAreaFormulaFunds_Operating,ARRARuralAreaFormulaFunds_Capital,CapitalAssistanceSpentOnOpsARRARuralAreaFormulaFunds_Operating,CapitalAssistanceSpentOnOpsARRARuralAreaFormulaFunds_Capital,Sys_ModifiedUserId
0,1,3734,249,County of Los Angeles - Department of Public W...,,900 S Fremont Ave,,Alhambra,CA,91803,...,(626) 458-3964,429391.0000,,,,,,,,2053
1,2,3687,251,Yolo County Transportation District,YCTD,350 Industrial Way,,Woodland,CA,95776,...,(530) 402-2826,135210.0000,,,,,,,,2014
2,3,3742,277,Victor Valley Transit Authority,VVTA,17150 Smoke Tree St,,Hesperia,CA,92345,...,(760) 995-3595,671949.0000,,,,,,,,1845
3,4,3754,279,Stanislaus County Public Works - Transit Division,,"1010 10th Street, Suite 4204",,Modesto,CA,95354,...,(209) 525-7569,464965.0000,,,,,,,,2932
4,5,3721,254,City of Porterville,,291 N Main St,,Porterville,CA,93257,...,(559) 782-7448,179014.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,2079

'Reporting_NTDAnnual_Vehicles'

Index(['Id', 'ReportId', 'VehicleId', 'VIN', 'NTDID', 'NumberInTotalFleet',
       'NumberActiveInFleet', 'NumberWithADAAccess', 'VehicleType',
       'FundSource', 'AverageEstimatedYearsWhenNew',
       'AverageExpectedYearsWhenNew', 'VehicleYear', 'UsefulLifeRemaining',
       'VehicleLengthFeet', 'SeatingCapacity', 'OwnershipType',
       'ModesOperated', 'Sys_ModifiedUserId', 'AgencyId'],
      dtype='object')

,Id,ReportId,VehicleId,VIN,NTDID,NumberInTotalFleet,NumberActiveInFleet,NumberWithADAAccess,VehicleType,FundSource,AverageEstimatedYearsWhenNew,AverageExpectedYearsWhenNew,VehicleYear,UsefulLifeRemaining,VehicleLengthFeet,SeatingCapacity,OwnershipType,ModesOperated,Sys_ModifiedUserId,AgencyId
0,1,1,13773,15GGD3016C1181383,,1,1,,BU - Bus,OF - Other Federal Funds,14,12,2012,35,,,Owned outright by public agency (OOPA),MB - Bus,2053,
1,2,1,13774,15GGD301OC1181377,,1,1,,BU - Bus,OF - Other Federal Funds,14,12,2012,35,,,Owned outright by public agency (OOPA),MB - Bus,2053,
2,3,2,14308,5WEXWSKKXFH140233,,1,1,1,CU - Cutaway Bus,NFPA - Non-Federal Public Funds,10,7,2015,30,29,26,Owned outright by public agency (OOPA),MB - Bus,2701,57
3,4,2,14310,5WEASAAM7GH409160,,1,1,1,CU - Cutaway Bus,,10,7,2016,40,29,26,,MB - Bus,2701,58
4,5,2,14312,5WEASAAM9GH409161,,1,1,1,CU - Cutaway Bus,NFPA - Non-Federal Public Funds,10,7,2016,40,29,26,Owned outright by public agency (OOPA),MB - Bus,2701,59

'no data in VehicleOrgLink'

'Vehicle_Inventory'

Index(['VehicleId', 'OrganizationId', 'LicensePlate', 'VIN', 'VehicleIDNumber',
       'FundedByDOT', 'FundingSource', 'FundingAgency', 'GrantNumber',
       'StandardAgreementNumber', 'FederalShare', 'FederalSharePercent',
       'TollCredit', 'TollCreditPercent', 'LocalShare', 'LocalSharePercent',
       'TotalCost', 'FTACategory', 'Year', 'Manufacturer', 'Model', 'Chassis',
       'Class', 'FuelType', 'VehicleLength', 'AmbulatorySeatingCapacity',
       'WheelchairPositions', 'WheelchairEquipped', 'VehicleStatus',
       'ImprovementType', 'CurrentCondition', 'CurrentMileage', 'VehicleUse',
       'PurchaseOrderNumber', 'PurchaseOrderDate', 'InvoiceNumber', 'Vendor',
       'ReceivedDate', 'LastInspectionDate', 'NextInspectionDate',
       'StateLienHolder', 'TitleNumber', 'VehicleTitleReleaseDate',
       'VehicleReleaseReportingDate', 'FairMarketValue', 'TransferDate',
       'SoldPrice', 'TransferRecipent', 'TransferStandardAgreementNumber',
       'ReplacementVIN', 'InServiceDate', 'FTAUsefulLifeYearsRemaining',
       'FTAUsefulLifeMileageRemaining', 'YearBuild', 'OutServiceDate', 'NTDID',
       'Comments', 'Sys_ModifiedUserID', 'NTD_VehicleType',
       'NTD_DedicatedFleet', 'NTD_OwnershipType', 'NTD_FundingType',
       'NTD_Mode', 'NTD_TOS'],
      dtype='object')

,VehicleId,OrganizationId,LicensePlate,VIN,VehicleIDNumber,FundedByDOT,FundingSource,FundingAgency,GrantNumber,StandardAgreementNumber,...,OutServiceDate,NTDID,Comments,Sys_ModifiedUserID,NTD_VehicleType,NTD_DedicatedFleet,NTD_OwnershipType,NTD_FundingType,NTD_Mode,NTD_TOS
0,,3661,,15GGB271X91177352,,Yes,Section 5311,Federal,CA-18-X025,647001,...,,,,481,,,,,,
1,,3661,,15GGB271191177353,,Yes,Section 5311,Federal,CA-18-X025,647001,...,,,,481,,,,,,
2,4591,3662,1352672,15GGB2710E1183297,,Yes,Section 5311,Federal,CA-18-X059,643001,...,,,,481,,,,,,
3,,3662,,15GGB271691176019,,Yes,Section 5311,Federal,CA-18-X028,648006,...,,,,481,,,,,,
4,,3662,,15GGB191171077693,,Yes,Section 5311,Federal,CA-18-X023,645007,...,,,,481,,,,,,

'_Agency_Contact'

Index(['District', 'Agency', 'RTPA/MPO', 'Title', 'Contact Person',
       'First Name', 'Mid Initial', 'Last Name', 'Role', 'Email', 'Phone',
       'Alt Contact Information', 'F13', 'F14', 'F15'],
      dtype='object')

,District,Agency,RTPA/MPO,Title,Contact Person,First Name,Mid Initial,Last Name,Role,Email,Phone,Alt Contact Information,F13,F14,F15
0,2,Agency on Aging for Lake and Mendocino Counties,,Ms.,Carol Hutchinson,Carol,,Hutchinson,,,707-643-7894,,,,
1,2,Agency on Aging for Lake and Mendocino Counties,,Mr.,Mike Parkinson,Mike,,Parkinson,,parkinsonm@mendocino.ca.us,707-643-7894,,,,
2,,Alpha Project for the Homeless,,Ms.,Amy Gonyeau,Amy,,Gonyeau,,amy@alphaproject.org,619-542-1877,,,,
3,,Alpha Project for the Homeless,,Mr.,Robert McElroy,Robert,,McElroy,,robert@alphaproject.org,619-542-1877,,,,
4,,Amador Regional Transit System,,Ms.,Carla Meyer,Carla,,Meyer,,Carla@amadortransit.com,209-267-5089,,,,

which tables are useful

In [49]:
num_rows_df = pd.DataFrame.from_dict({k: len(df) for k, df in dfs_dict.items()}, orient='index').reset_index().rename({'index': 'table_names', 0: 'num_rows'}, axis=1)

In [54]:
num_rows_df.sort_values(by='num_rows',ascending=False).head(20)

                          table_names  num_rows
49        data_DynamicFields_Template     36738
90   data_Notification_QueuedMessages     29851
72         data_GrantOpportunityForms     21994
91      data_Notification_QueueGroups     16451
47                     data_Documents     14266
354            ProjectTaskBudgetLines      9974
355    ProjectTaskBudgetLinesExtended      8956
131            data_UnionAffiliations      6675
54      data_Entity_PropertiesRecords      6413
174      Fact_ApplicationDocument_Log      5157
214    link_ProjectReviewStep_Project      4486
74       data_GrantOpportunityRevenue      4096
104               data_ProjectHistory      3996
71    data_GrantOpportunitiesActivity      3649
79            data_ImportantDocuments      3198
86            data_Inventory_Vehicles      3197
78                    data_HistoryLog      3087
220          link_Review_User_Project      2761
173         Fact_ApplicationDocuments      2450
107                data_Project_Tasks      2392